@font-face {
  font-family: 'AttenticaUltraLight';
  src: url('/fonts/Attentica_4F_UltraLight.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Attentica_4F_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Attentica_4F_UltraLight.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Attentica_4F_UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Attentica_4F_UltraLight.svg#062944ad73dd7e7a789b4c5437062cc5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

