@media (min-width: 768px) {
 .col-sm-1-4, .col-sm-2-4, .col-lg-3-4, .col-lg-4-4 {
  float: left;
 }
 .col-sm-1-4 {
  width: 25% !important;
 }
 .col-sm-2-4 {
  width: 50% !important;
 }
 .col-sm-3-4 {
  width: 75% !important;
 }
 .col-sm-4-4 {
  width: 100% !important;
 }


 .form-horizontal .control-label {
  padding-top: 11px;
 }

 
 .dl-horizontal dt {
  width: 108px;
 }

 .dl-horizontal dd {
  margin-left: 114px;
 }


 .reviews-list .item .avatar {
  padding-top: 11px;
 }

 .reviews-list .item .item-footer .avatar {
  text-align: right;
 }
}



@media (min-width: 992px) {
 .col-md-1-4, .col-md-2-4, .col-md-3-4, .col-md-4-4 {
  float: left;
 }
 .col-md-1-4 {
  width: 25% !important;
 }
 .col-md-2-4 {
  width: 50% !important;
 }
 .col-md-3-4 {
  width: 75% !important;
 }
 .col-md-4-4 {
  width: 100% !important;
 }

 /*TODO: в случае необходимости переопределеить для других типов блоков*/
 .col-md-1.left-border:after,
 .col-md-1.right-border:after,
 .col-md-2.left-border:after,
 .col-md-2.right-border:after,
 .col-md-3.left-border:after,
 .col-md-3.right-border:after,
 .col-md-4.left-border:after,
 .col-md-4.right-border:after,
 .col-md-5.left-border:after,
 .col-md-5.right-border:after,
 .col-md-6.left-border:after,
 .col-md-6.right-border:after,
 .col-md-7.left-border:after,
 .col-md-7.right-border:after,
 .col-md-8.left-border:after,
 .col-md-8.right-border:after,
 .col-md-9.left-border:after,
 .col-md-9.right-border:after,
 .col-md-10.left-border:after,
 .col-md-10.right-border:after,
 .col-md-11.left-border:after,
 .col-md-11.right-border:after,
 .col-md-12.left-border:after,
 .col-md-12.right-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: #d9d9d9;
 }

 .col-md-1.left-border:after,
 .col-md-2.left-border:after,
 .col-md-3.left-border:after,
 .col-md-4.left-border:after,
 .col-md-5.left-border:after,
 .col-md-6.left-border:after,
 .col-md-7.left-border:after,
 .col-md-8.left-border:after,
 .col-md-9.left-border:after,
 .col-md-10.left-border:after,
 .col-md-11.left-border:after,
 .col-md-12.left-border:after {
  right: auto;
  left: -1px;
 }
}



@media (min-width: 1200px) {
 .table-cart .caption {
  padding-right: 70px;
 }

 .form-horizontal .control-label.col-sm-4 {
  padding-left: 22px;
 }

 .form-horizontal .col-sm-8 {
  padding-left: 6px;
  padding-right: 1px;
 }

 .select-receiver .first-btn {
  margin-right: -15px;
 } 

 .catalog-item .catalog-filters .logos {
  margin-left: 15px;
  margin-right: -25px;
 }

 .catalog-item .catalog-filters .links {
  margin-left: 27px;
 }

 .reviews-list .item .avatar {
  padding-right: 0;
 }

 .reviews-list .item .review-content {
  padding-left: 26px;
 }

 .reviews-list .item .item-footer .avatar img {
  margin-right: -10px;
 }

 .reviews-list .item .item-footer .review-content {
  padding-left: 41px;
 }

 .catalog-item .reviews-list .item .review-content {
  padding-left: 0;
  margin-left: -6px;
 }
 
 .catalog-item .reviews-list .item .item-footer .avatar img {
  margin-right: 50px;
 }

 .catalog-item .reviews-list .item .item-footer .review-content {
  margin-left: -24px;
 } 

 .col-lg-1-5, .col-lg-2-5, .col-lg-3-5, .col-lg-4-5, .col-lg-1-5 {
  float: left;
 }
 .col-lg-1-5 {
  width: 20% !important;
 }
 .col-lg-2-5 {
  width: 40% !important;
 }
 .col-lg-3-5 {
  width: 60% !important;
 }
 .col-lg-4-5 {
  width: 80% !important;
 }
 .col-lg-5-5 {
  width: 100% !important;
 }



 .container {
  width: 1160px;
 }

 .main-nav {
  margin-right: -16px;
  margin-left: 4px;
 }

 .catalog-item .photos {
  margin-right: -50px;
  margin-left: -10px;
 }

 .catalog-item .photos .action-labels {
  left: 10px;
 }

 .catalog-item .good-info {
  margin-left: 37px;
 }

 .ml-10 {
  margin-left: 10px;
 }

 .catalog-item .files .col-xs-3 {
  padding: 0;
  margin-left: 10px;
 }

 .review-add .col-xs-11 {
  padding-left: 0;
  margin-left: -5px;
 }


 .contacts .contacts-image {
  margin-right: -50px;
 }

 .contacts .note {
  padding-right: 20px;
 }

 .contacts .schedule {
  padding-right: 10px;
  margin-left: -25px;
 }
 
 .contacts .address {
  margin-left: -6px;
 }

 .contacts .schedule:before,
 .contacts .address:before {
  margin-left: -41px;
 }

 .news-list .item .image {
  padding-right: 25px;
 }
 
 .news-list .item .text {
  margin-left: -25px;
 }

 .brands-item .images {
  padding-right: 32px;
 }

 .brands-item .text {
  margin-left: -5px;
 }

 .technologies-list .item,
 .technologies-list .item .item-footer {
  padding-right: 30px;
  padding-left: 30px;
 }


 .manual-blocks-list .col-md-6 .item .text {
  padding-right: 100px;
 }
 
 
 .profile .company-describe {
	 padding-right: 25px;
 }

 .profile .bonuses-summary {
	 margin-left: -25px;
 }

 .profile .profile-nav li {
	 padding-right: 40px;
	 padding-left: 40px;
 }

 .profile .sold-goods .table td {
	 padding-right: 20px;
	 padding-left: 20px;
 }

 .profile .format-code .column {
	 padding-right: 30px;
	 padding-left: 56px;
 }

 .profile .format-code .column-left {
	 padding-right: 24px;
 }
 
 .profile .format-code .column-right {
	 padding-left: 48px;
 }

 .profile .format-code .column:after {
	 margin-left: -50px;
 }

 .good-discount-card .discount-info .second-column {
	 margin-left: -24px;
 }

 .good-discount-card .catalog-item .main-photo {
	padding: 0 66px;
 }

 .catalog-item .left-column {
	 padding-right: 40px;
 }
 
 .catalog-item .right-column {
	 padding-right: 47px;
	 margin-left: -36px;
 }
 
 .good-discount-card .goods-list {
	 padding: 0 59px;
 }

	.videos-page .items-list .row {
		margin-right: -20px;
		margin-left: -20px;
	}

	.videos-page .items-list .row > * {
		padding-right: 20px;
		padding-left: 20px;
	}

	.videos-page .items-list.goods-list .item-footer .btn-block {
		padding-right: 0;
		padding-left: 0;
	}
	
	.videos-page .items-list.goods-list .item-footer .more {
		padding-right: 11px;
	}

	.videos-page .items-list.goods-list .item-footer .reviews {
		padding-right: 12px;
		margin-left: -11px;
	}

	.videos-page .items-list.goods-list .item-footer .buy {
		margin-left: -12px;
	}

	.order .data-ship-describe {
		position: absolute;
		top: 0;
		right: -377px;
		width: 350px;
	}

	
}


@media (max-width: 1199px) {
 .nav-tabs > li {
  margin-bottom: 10px;
 }

	.good-discount-card-inner {
		padding-bottom: 100px;
	}
}

@media (max-width: 991px) {
 .main-header .col-logo {
  display: none;
 }

 .main-header .col-near-logo {
  margin-left: 0;
 }


 .main-footer .register-li {
  display: none !important;
 }

 .main-footer .categories-nav .dropdown-menu .brands-section, .main-footer .categories-nav .dropdown-menu .section {
  padding: 0 5px;
 }

 .main-header .search-form {
  padding-top: 0;
  padding-bottom: 10px;
 }

 .categories-nav .nav > li > a .caption {
  right: 5px;
  left: 5px;
  bottom: 0;
 }

 .categories-nav .nav-justified > .dropdown .dropdown-menu.large {
  right: 0 !important;
  left: 0 !important;
 }


 .categories-nav .dropdown-menu.large .brands, .categories-nav .dropdown-menu.large .section {
  float: none;
  display: inline-block;
  vertical-align: top;
 }

 .catalog-filters h1, .catalog-filters .h1 {
  font-size: 36px;
 }


 .logos {
  margin: 20px 0;
 }

	.profile .profile-nav li .img,
	.profile .profile-nav li img {
		display: none;
	}

	.table > tbody > tr > td,
	.table > thead > tr > th {
		padding-right: 2px;
		padding-left: 2px;
	}

	.profile .format-code .main-row > *:last-child .column:after {
		display: none;
	}


	.profile .format-code .main-row > *:last-child .column .label {
		margin-top: 0;
	}
}

@media (max-width: 767px) {
 .main-footer {
  padding-top: 0;
 }

 .main-footer .categories-nav {
  display: none;
 }

 .nav-tabs > li {
  width: 100% !important;
  float: none;
  margin: 0 0 10px !important;
 }

 .nav-tabs > li > a {
  width: 100%;
 }

 .main-nav .nav > li > a {
  padding: 10px;
  text-align: left;
 }

 .categories-nav .nav {
  display: block;
 }

 .categories-nav .nav > li {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
 }

 .categories-nav .nav > li:nth-child(2n) {
  border-right-color: transparent;
 }

 .categories-nav .nav-justified > .dropdown .dropdown-menu {
  right: 0 !important;
  left: 0 !important;
 }

 .main-footer .bottom .copy {
  width: auto;
  float: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
 }


 .catalog-item .photos {
  margin-bottom: 20px;
 }

 .catalog-item .good-info .dl-horizontal dt {
  font-weight: bold;
 }
 
 .catalog-item .good-info .dl-horizontal dd {
  margin-left: 5px;
 }

 .catalog-item .good-info .in-stock {
  margin-top: 20px;
 }

 .catalog-item .good-info .in-stock .label-col {
  text-align: right;
 }

 .table-cart .image {
  width: 1% !important;
 }


 .order .block-header .control-label,
 .register-social {
  display: block;
  text-align: center;
 }


 .reviews-list .item .avatar {
  text-align: center;
 }

 .manual-blocks-list .item {
  border: none;
  text-align: center;
 }


 .right-nav .nav {
  text-align: center;
 }
 
 .right-nav .nav > li {
  display: inline-block;
  width: 100px !important;
  margin: 0 0 2px;
 }

 .right-nav .nav > li > a {
  margin-bottom: 0;
 }


	.profile .profile-nav li {
		width: 100%;
		border-right: none;
	}


	.good-discount-card .good-info .discount-prices .price {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

 .brands-list .item:before {
  display: none;
 }
}



@media (max-width: 1199px) {
 .table-comparison > thead > tr > th {
  padding-right: 5px;
  padding-left: 5px;
 }
}



@media (min-width: 768px) and (max-width: 991px) {
 .table-comparison > thead > tr > th {
  word-break: break-all;
 }
}



@media (min-width: 992px) and (max-width: 1199px) {
 .search-form .inputs {
  position: absolute;
  right: 9px;
  bottom: 0;
  width: 200px;
 }
}



@media (max-width: 839px), (min-width: 992px) and (max-width: 1059px), (min-width: 1200px) and (max-width: 1249px) {
 .owl-theme .owl-controls .owl-buttons div {
  left: 5px;
 }

 .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 5px;
 }
}


@media (max-width: 1309px) {
 .right-nav .hidden-lg {
  display: block !important;
 }

 .right-nav .visible-lg {
  display: none !important;
 }
}

@media (min-width: 1310px) {

 .right-nav .hidden-lg {
  display: none !important;
 }

 .right-nav .visible-lg {
  display: block !important;
 }

 .right-nav {
  position: absolute;
  right: -140px;
  top: 0;
  width: 150px;
  margin: -189px 0 0;
  z-index: 300;
 }

 .right-nav .nav {
  display: block;
 }
 
 .right-nav .nav > li {
  display: block;
  float: left;
  width: 50%;
  border-bottom-color: transparent;
 }

 .right-nav .nav > li:nth-child(odd) {
  border-right-color: transparent;
 }

 .right-nav .nav > li.programs,
 .right-nav .nav > li.online-consultation,
 .right-nav .nav > li.hot-line {
  width: 100%;
  border-right-color: #dadada;
 }

 .right-nav .nav > li.programs {
  height: 72px;
 }

 .right-nav .nav > li.programs .image {
  margin-bottom: 1px;
 }

 .right-nav .nav > li.online-consultation {
  height: 75px;
  margin-bottom: 27px;
  border-bottom-color: #dadada;
  background: #18ccd8;
 }

 .right-nav .nav > li.online-consultation a {
  padding-top: 0;
  padding-right: 5px;
  padding-left: 5px;
  color: #ffffff;
 }
 
 .right-nav .nav > li.online-consultation .image {
  background-position: -161px -24px;
 }

 .right-nav .nav > li.hot-line {
  margin-bottom: 2px;
 }
 
 .right-nav .nav > li.hot-line a {
  height: 140px;
  padding: 45px 5px 0;
 }

 .right-nav .nav > li.hot-line a:after {
  content: "";
  position: absolute;
  display: block;
  top: -25px;
  right: 0;
  left: 0;
  height: 85px;
  background: url('/img/right-nav-tel.png') 50% 0 no-repeat;
 }

 .right-nav .nav > li.hot-line .image {
  visibility: hidden;
  margin-bottom: -14px;
 }

 .right-nav .nav > li.hot-line .tel {
  clear: both;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: -6px;
  font: normal 34px/1 AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
 }

 .right-nav .nav > li.hot-line .tel:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 14px;
  height: 24px;
  background: url('/img/right-nav.png') -207px 0 no-repeat;
 }


	.right-nav .nav > li.online-consultation > a,
	.right-nav .nav > li.online-consultation .caption {
		height: auto;
	}
}

@media (min-width: 1310px) and (max-width: 1580px) {
 .container {
  position: relative;
  left: 50%;
  margin-left: -655px;
  margin-right: 0;
 }
}

@media (min-width: 1420px) {
 .right-nav {
  right: -195px;
 }
}
