body {
 font: 15px/1.2 Arial, "Helvetica Neue", Helvetica, sans-serif;
 color: #1e1e1e;
}

a {
 color: #1e1e1e;
}

img {
 max-width: 100%;
 height: auto;
}

.arial {
 font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif !important;
}


h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
 font-family: AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
}

h1, .h1 {
 font-size: 40px;
}

h1.list-item-caption,
.h1.list-item-caption {
 margin: 3px 0 8px;
 line-height: 35px;
}

.h1.list-item-caption a:hover,
.h1.list-item-caption a:focus,
h1.list-item-caption a:hover,
h1.list-item-caption a:focus {
 text-decoration: none;
}

h4, .h4 {
 font-size: 19px;
}

h6, .h6 {
 font-size: 15px;
 line-height: 18px;
 font-weight: bold;
}


.page-header {
 margin-top: 0;
 margin-bottom: 0;
 border: none;
 text-align: center;
}

.page-header h1,
.page-header .h1 {
 margin-bottom: 0;
 font-size: 50px;
}

.page-header.with-h-rows h1,
.page-header.with-h-rows .h1 {
 position: relative;
 display: inline-block;
 font-size: 40px;
}

.page-header.with-h-rows h1:before,
.page-header.with-h-rows .h1:before,
.page-header.with-h-rows h1:after,
.page-header.with-h-rows .h1:after {
 content: "";
 display: block;
 position: absolute;
 top: 50%;
 left: -150px;
 width: 111px;
 height: 1px;
 margin-top: -4px;
 background: #cacaca;
}
.page-header.with-h-rows h1:after,
.page-header.with-h-rows .h1:after {
 left: auto;
 right: -150px;
}

.page-header.with-h-rows .normal {
 display: block;
}

.page-header.with-h-rows .normal:before,
.page-header.with-h-rows .normal:after {
 display: none;
}




.container {
 position: relative;
 min-width: 300px !important;
 padding-right: 10px;
 padding-left: 10px;
}

.form-horizontal .form-group,
.row {
 margin-right: -10px;
 margin-left: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
 padding-right: 10px;
 padding-left: 10px;
}


.row-5 {
 clear: both;
 margin: 0 -5px !important;
}
.row-5:before,
.row-5:after {
 display: table;
 content: " ";
}
.row-5:after {
 clear: both;
}


.col-lg-1-5, .col-lg-2-5, .col-lg-3-5, .col-lg-4-5, .col-lg-1-5,
.col-md-1-4, .col-md-2-4, .col-md-3-4, .col-md-4-4,
.col-sm-1-4, .col-sm-2-4, .col-sm-3-4, .col-sm-4-4,
.col-xs-1-4, .col-xs-2-4, .col-xs-3-4, .col-xs-4-4 {
 position: relative;
 padding: 0 5px;
}

.col-xs-1-4, .col-xs-2-4, .col-xs-3-4, .col-xs-4-4 {
 float: left;
 display: block;
 position: relative;
 padding: 0 5px !important;
}
.col-xs-1-4 {
 width: 25% !important;
}
.col-xs-2-4 {
 width: 50% !important;;
}
.col-xs-3-4 {
 width: 75% !important;;
}
.col-xs-4-4 {
 width: 100% !important;;
}

.nav-justified {
 display: table;
}

.nav-justified > li {
 width: auto;
}


.form-control {
 height: 33px;
 border-radius: 0;
 border-top-color: #c4c4c4;
 border-right-color: #fff;
 border-bottom-color: #fff;
 border-left-color: #c5c5c5;
 background: #f7f7f7;
}

.form-control.dropdown {
 height: auto;
}

.form-control.dropdown > .btn,
.form-control.dropdown > .dropdown-menu {
 width: 100%;
}

.form-group {
 margin-bottom: 3px;
}

.form-inline .form-group +  .form-group {
 margin-left: 25px;
}

.form-group sup {
	top: auto;
	color: #ff0000;
	font-size: inherit;
}

.form-large {
 padding: 18px 0;
}

.form-large label {
 margin-right: 29px;
 font-size: 19px;
 color: #555555;
}

.form-large .btn + label {
 margin-left: 25px;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
 height: 42px;
 font-size: 15px;
 color: #1e1e1e;
}

.form-horizontal .control-label {
 text-align: left;
}


.input-group-btn > .btn {
 border-radius: 0;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
 height: 42px;
 margin: 0 !important;
 font-size: 15px;
 color: #000000;
 text-align: center;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
 border-radius: 0;
}

.radio label, .checkbox label {
	padding-left: 34px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: -32px;
}



.btn {
 padding: 7px 19px 12px;
 font-size: 15px;
}

.btn-default {
 border-color: #cecece;
 color: #1e1e1e;
 background: transparent;
}

.grey .btn-default {
 box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .7), 1px 1px 1px rgba(255, 255, 255, .7);
}

.btn-primary {
 border-color: transparent;
 background: #00949d;
 background: linear-gradient(180deg, #00abb6, #00abb6 50%, #0098a1 51%, #00949d);
}

.btn-warning {
 background: #e1980c;
 background: linear-gradient(180deg, #e1980c, #e1980c 50%, #d37c00 51%, #d37c00);
}

.btn-info {
 border-color: transparent !important;
 background: #b3b3b3;
 background: linear-gradient(180deg, #b3b3b3, #b3b3b3 50%, #a2a1a1 51%, #a2a1a1);
}


.btn-sm {
 height: 32px;
 padding: 5px 10px;
 font-size: 12px;
}

.btn-lg {
 height: 56px;
 padding-top: 11px;
 padding-bottom: 14px;
 line-height: 30px;
 font-size: 19px;
 border-radius: 3px;
}

.btn-block {
 padding-right: 11px;
 padding-left: 11px;
}


.btn-block + .btn-block {
 margin-top: 2px;
}


.input-group-btn > .btn {
 height: 33px;
}

.btn .caret {
 margin-right: -6px;
 margin-left: 20px;
}

.caret {
 width: 10px;
 height: 7px;
 border: none !important;
 background: red;
 background: url('/img/btn-sprite.png') -116px 0 no-repeat;
}

.btn-search {
 width: 33px;
 border-color: #ffffff;
 border-top: #00bcc8;
 border-left: none !important;
 text-indent: -9999px;
 z-index: 2;
 background-color: #00bcc8;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-image: url('/img/header-search-submit.png');
 background-image: url('/img/header-search-submit.png'), linear-gradient(180deg, #00bcc8, #00abb6);
}

.btn-question {
 position: relative;
 padding-left: 51px;
}

.btn-question:after {
 content: "";
 display: block;
 position: absolute;
 top: 50%;
 left: 17px;
 width: 19px;
 height: 17px;
 margin-top: -10px;
 background: url('/img/btn-sprite.png') -134px 0 no-repeat;
}

.btn-make-order:before,
.btn-back:before {
 content: "";
 float: left;
 display: inline-block;
 width: 22px;
 height: 30px;
 margin-right: 12px;
 background: url('/img/btn-sprite.png') -28px 0 no-repeat;
}

.btn-back:before {
 width: 19px;
 height: 19px;
 margin-top: 2px;
 background-position: -181px 0;
}

.btn-make-order:before,
.btn-back.btn-lg:before {
 width: 22px;
 height: 30px;
 margin-right: 12px;
}

.btn-back.btn-lg:before {
 width: 28px;
 margin-top: 0;
 margin-right: 10px;
 margin-left: -3px;
 background-position: 0 0;
}


.btn-default.btn-arrow-right {
 position: relative;
 padding-right: 10px;
 margin-right: 14px;
 border-radius: 4px 0 0 4px;
}

.btn-default.btn-arrow-right:after {
 content: "";
 position: absolute;
 top: 0;
 right: -14px;
 bottom: 0;
 width: 14px;
 background: url('/img/btn-sprite.png') -153px 0 no-repeat;
}

.btn-default.btn-arrow-right:hover:after,
.btn-default.btn-arrow-right:focus:after {
 background-position: -167px 0;
}

.btn-default.btn-arrow-right:active {
 box-shadow: 2px 5px 13px rgba(38, 33, 27, 0.3) inset;
}
.btn-default.btn-arrow-right:active:after {
 background-position: -331px 0;
}

.btn.btn-arrow-double-bottom {
	position: relative;
	padding-right: 50px;
	padding-left: 50px;
}

.btn.btn-arrow-double-bottom:before,
.btn.btn-arrow-double-bottom:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 13px;
	width: 10px;
	height: 7px;
	margin-top: -4px;
	background: url('/img/btn-sprite.png') -116px 0 no-repeat;
}

.btn.btn-arrow-double-bottom:after {
	left: auto;
	right: 13px;
}



.btn-ok:before,
.btn-profile:before,
.btn-key:before,
.btn-email:before,
.btn-sms:before,
.btn-print:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 16px;
	background: url('/img/btn-sprite.png') -200px 0 no-repeat;
	vertical-align: middle;
}

.btn-email:before,
.btn-sms:before,
.btn-print:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 18px;
	width: 22px;
	height: 25px;
	background: url('/img/btn-sprite.png') -225px 0 no-repeat;
}

.btn-email,
.btn-sms,
.btn-print {
	position: relative !important;
	padding-left: 59px;
	text-align: left !important;
}

.btn-email:before {
	width: 22px;
}
.btn-sms:before {
	left: 23px;
	width: 14px;
	background-position: -247px 0;
}
.btn-print:before {
	width: 22px;
	background-position: -261px 0;
}

.btn-ok:before {
	width: 23px;
	margin-right: 10px;
	background-position: -283px 0;
}

.btn-profile:before {
	background-position: -306px 0;
}








.carousel-control.left,
.carousel-control.right {
 background: none;
 opacity: 1;
}

.carousel-control:after {
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 15px;
 width: 21px;
 background: url('/img/slider-arrows.png') 0 50% no-repeat;
}
.carousel-control.right:after {
 left: auto;
 right: 15px;
 background-position: -21px 50%;
}

.carousel-indicators {
 right: 0;
 bottom: -49px;
 left: 0;
 width: auto;
 margin: 0;
 padding-left: 10px;
 text-align: center;
}

.carousel-indicators li,
.carousel-indicators .active {
 width: 19px;
 height: 19px;
 margin: 0 18px;
 border: none;
 background: #e0e1e5;
 box-shadow: inset 2px 2px 4px rgba(16, 16, 16, .3	);
}

.carousel-indicators .active {
 background: #00abb6;
}



.nav-tabs {
 margin-right: -10px;
 margin-bottom: 7px;
 border: none;
}

.nav-tabs > li {
 display: block;
 margin-right: 10px;
}

.nav-tabs > li + li {
 margin-left: 0;
}

.nav-tabs > li > a {
 display: block;
 width: 220px;
 margin-right: 0;
 padding: 0 2px 5px;
 border: 1px solid #00abb6;
 color: #00abb6;
 font-size: 15px;
 border-radius: 3px;
 text-align: center;
 line-height: 35px;
}

.nav-tabs.auto-width > li {
 margin: 0;
}

.nav-tabs.auto-width > li > a {
 width: auto;
 padding-right: 24px;
 padding-left: 24px;
}

.nav-tabs.auto-width > li + li {
 margin-left: 8px;
}

.nav-tabs > li > a > img {
 margin-right: 9px;
}

.btn.active {
 cursor: default;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-primary:active,
.btn-primary.active,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-primary,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 border-color: transparent;
 color: #fff;
 background: #00abb6;
 box-shadow: inset 0 5px 13px rgba(38, 33, 27, .3);
}

.nav-tabs > li > a:hover:after,
.nav-tabs > li > a:focus:after,
.nav-tabs > li.active > a:after,
.nav-tabs > li.active > a:hover:after,
.nav-tabs > li.active > a:focus:after {
 content: "";
 display: block;
 position: absolute;
 left: 50%;
 bottom: -18px;
 width: 18px;
 height: 18px;
 margin-left: -9px;
 border: 9px solid transparent;
 border-top-color: #00abb6;
}


.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
 background-color: #18ccd8;
 box-shadow: none;
}

.nav-tabs > li > a:hover:after,
.nav-tabs > li > a:focus:after {
 border-top-color: #18ccd8;
}

.breadcrumb {
 padding: 12px 0 15px;
 margin: 22px 0 4px;
 border-top: 1px solid #d9d9d9;
 border-bottom: 1px solid #d9d9d9;
 border-radius: 0;
 background: none;
 font-size: 13px;
 color: #6d6d6d;
}

.breadcrumb > li + li:before {
 padding: 0 15px;
 content: "→";
 color: #6d6d6d;
}

.breadcrumb a {
 color: #6d6d6d;
 text-decoration: underline;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
 text-decoration: none;
}


label {
 font-weight: normal;
}


.label {
 display: inline-block;
 padding: 0;
 min-width: 50px;
 font-size: 19px;
 line-height: 50px;
 font-weight: normal;
 text-transform: uppercase;
 border-radius: 50%;
}

.label-warning {
 background: #e1980c;
}

.label-danger {
 background: #c61718;
}

.label-lg {
	width: 57px;
	height: 57px;
	font: 40px/64px AttenticaUltraLight, Arial, Helvetica, sans-serif;
}

.label-action {
 position: absolute;
 top: 14px;
 left: -1px;
 z-index: 200;
 width: 200px;
 height: 54px;
 padding: 10px 5px 10px 93px;
 border-radius: 0 27px 27px 0;
 font: normal 34px/1 AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
 text-align: left;
 background: #c61718;
 background: linear-gradient(165deg, #dc2526, #dc2526 50%, #c61718 51%, #c61718);
 white-space: normal;
}

.label-action .big {
 font-size: 40px;
}

.label-action .small {
 font-size: 16px;
}

.label-action .label-image {
 display: block;
 position: absolute;
 top: -12px;
 bottom: -12px;
 left: 0;
 height: 78px;
 line-height: 78px;
}

.label-action .label-image img {
 vertical-align: middle;
}


.label-action.label-double {
 padding: 9px 25px 5px 89px;
 font-size: 26px;
 line-height: 21px;
}

.label-action.label-double .big {
 font-size: 30px;
}

.label-action.label-double .small {
 font-size: 12px;
}



dt {
 font-weight: normal;
}

dt, dd {
 line-height: 1.4667;
}

.dl-horizontal dt {
 padding-left: 5px;
 text-align: left;
}

.dl-horizontal dd {
 margin-left: 167px;
}

.dl-horizontal dt,
.dl-horizontal dd {
 margin-bottom: 14px;
}


.dl-inline {
}

.dl-inline dt {
 display: inline;
 font-weight: bold;
}

.dl-inline dd {
 display: inline;
}

.dl-inline dd:after {
 content: "";
 display: block;
 margin-bottom: 5px;
}

.dl-inline p {
 margin: 5px 0 0 !important;
}



.navbar-toggle {
 margin-right: 0;
}

.table {
 border-bottom: 1px solid #d9d9d9;
 border-collapse: separate;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
 padding: 3px 2px 12px;
 border-top: none;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
 padding-right: 5px;
}

.table > thead > tr > td:last-child, .table > tbody > tr > td:last-child, .table > tfoot > tr > td:last-child {
 /*padding-right: 0;*/
}


.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > th {
	border: 1px solid #ebebeb !important;
	text-align: center;
	vertical-align: middle;
	line-height: 1.2;
}

.table > tbody > tr > th,
.table > thead > tr > th {
	padding: 9px 5px;
	color: #ffffff;
	background: #00abb6;
	font-weight: normal;
}

.table > tbody > tr > th {
 padding-left: 20px;
}

.table > tbody > tr > td {
	padding: 7px 5px;
}

.table tbody {
	background: #ffffff;
}

.table .caption {
	padding-left: 17px;
	text-align: left;
	font-weight: bold;
}


.pagination-nav {
 margin: 16px 0 27px;
 text-align: center;
}

.pagination > li > a,
.pagination > li > span {
 min-width: 42px;
 padding: 8px 4px 11px 4px;
 margin: 0 4px;
 border-color: #cecece;
 border-radius: 3px !important;
 color: #1e1e1e;
 text-align: center;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
 padding-right: 23px;
 padding-left: 18px;
 margin-right: 23px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
 padding-right: 18px;
 padding-left: 23px;
 margin-left: 23px;
}

.pagination > li.dots > span {
 border: none;
 font-weight: bold;
 letter-spacing: 2px;
 background: none !important;
 color: #000000 !important;
}


.dl-horizontal dt, .dl-horizontal dd {
 margin-bottom: 1px;
 line-height: inherit;
}

dt {
 font-weight: bold;
}

.well-lg {
	padding-top: 18px;
	padding-bottom: 8px;
	font-size: 19px;
}

.well.well-primary {
	border: none;
	color: #ffffff;
	background: #00abb6;
}




.calendar-show {
 display: block;
 width: 20px;
 height: 20px;
 background: url('/img/btn-sprite.png') -50px -4px no-repeat;
}



.rating {
 margin-top: 4px;
 margin-bottom: 13px;
 vertical-align: top;
}

.rating .stars {
 display: inline-block;
 margin-left: 2px;
}

.rating .star {
 display: inline-block;
 width: 18px;
 height: 17px;
 margin-left: 7px;
 background: url('/img/main-sprite.png') 0 -21px repeat-x;
}
.rating .star.active {
 background-position: 0 -38px;
}


.rating.rating-editable {
 
}

.rating.rating-editable .star {
 width: 23px;
 height: 22px;
 margin-left: 9px;
 background-position: 0 -97px;
 cursor: pointer;
}

.rating.rating-editable .star.active {
 background-position: 0 -186px;
}






.main-header .top {
 min-height: 60px;
 position: relative;
 background: #dfdfdf;
 background: linear-gradient(180deg, #dfdfdf, #f4f4f4);
}

.main-header .top:after {
 content: "";
 position: absolute;
 display: block;
 right: 0;
 bottom: -14px;
 left: 0;
 height: 14px;
 background: url('/img/block-shadow.png') 50% 0 no-repeat;
}

.main-header .col-logo {
 position: relative;
 width: 164px;
 min-height: 1px;
 float: left;
}

.main-header .col-near-logo {
 margin-left: 175px;
}

.main-header .logo {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 10;
}

.main-nav {
 min-height: 0;
 margin-bottom: 0;
}

.main-nav {
 background: none;
 border: none;
 font-size: 13px;
}

.main-nav .navbar-collapse {
 padding-right: 0;
 padding-left: 0;
}

.main-nav .nav > li > a {
 padding: 22px 0 23px;
 color: #6d6d6d;
}

.main-nav .nav > li {
 min-width: 50px;
}

.main-nav .nav > li.cart > a:before {
 content: "";
 display: inline-block;
 left: 5px;
 width: 17px;
 height: 15px;
 margin-top: -4px;
 margin-right: 7px;
 background: url('/img/main-nav-cart.png') no-repeat;
 vertical-align: middle;
}

.main-header .search-form {
 padding-top: 14px;
}


.categories-nav {
 clear: both;
 position: relative;
 margin-top: 1px;
 
 font-size: 13px;
}

.main-header .categories-nav {
 margin-left: -22px;
}

.categories-nav .img {
 display: block;
 height: 65px;
 line-height: 65px;
 font-size: 0;
}

.categories-nav .img img {
 vertical-align: middle;
}

.categories-nav .nav {
 display: table;
 table-layout: fixed;
}

.categories-nav .nav > li {
 position: static;
 width: 100%;
 padding: 0;
 border-right: 1px solid #d9d9d9;
 overflow: hidden;
}

.categories-nav .nav > li > a {
 position: relative;
 height: 127px;
 padding: 12px 5px 10px;
 display: block;
 color: #6d6d6d;
 text-transform: uppercase;
 line-height: 16px;
 border-radius: 0;
}

.categories-nav .nav > li > a .caption {
 position: absolute;
 right: 10px;
 bottom: 11px;
 left: 10px;
}

.categories-nav .nav-justified > .dropdown .dropdown-menu {
 right: 0;
 left: 8px;
 min-height: 356px;
 margin-top: 7px;
 padding: 3px 40px;
 font-size: 15px;
}

.dropdown-menu {
 border: none;
 border-radius: 0;
 box-shadow: 5px 5px 24px rgba(45, 38, 30, .2);
}

.categories-nav .dropdown-menu {
 background-position: 100% 0;
 background-repeat: no-repeat;
}

.categories-nav .dropdown-menu .h1 {
 margin-right: -15px;
}

.categories-nav .dropdown-menu .brands,
.categories-nav .dropdown-menu .section {
 width: 230px;
}

.categories-nav .dropdown-menu .section:before {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 width: 305px;
 margin-left: -40px;
 background: #fff;
 z-index: -1;
}

.categories-nav .dropdown-menu.large .section:before {
 width: 288px;
 margin-left: -32px;
}

.categories-nav .dropdown-menu ul {
 padding: 0;
 list-style: none;
}

.categories-nav .dropdown-menu .subnav-ul {
 margin-top: 17px;
 margin-bottom: 23px;
 border-top: 1px solid #d8d8d8;
}

.categories-nav .dropdown-menu .subnav-ul li {
 border-bottom: 1px solid #d8d8d8;
}

.categories-nav .dropdown-menu .subnav-ul li a {
 position: relative;
 display: block;
 padding: 7px 0 9px 59px;
}

.categories-nav .dropdown-menu .subnav-ul li a:hover,
.categories-nav .dropdown-menu .subnav-ul li a:focus {
 background: #eeeeee;
 text-decoration: none;
}

.categories-nav .dropdown-menu .subnav-ul li .small-img {
 position: absolute;
 top: 0;
 left: 0;
 width: 50px;
 padding-left: 10px;
 text-align: center;
 height: 34px;
 line-height: 34px;
 font-size: 1px;
}

.categories-nav .dropdown-menu .subnav-ul li img {
 vertical-align: middle;
}

.categories-nav .dropdown-menu .brands-section {
 clear: both;
}

.categories-nav .dropdown-menu .brands {
 padding-left: 2px;
}

.categories-nav .dropdown-menu .brands ul {
 margin: 22px 0 10px;
}

.categories-nav .dropdown-menu .brands li {
 display: inline-block;
 height: 20px;
 line-height: 20px;
 margin: 0 18px 18px 0;
 font-size: 0;
}

.categories-nav .dropdown-menu .footer-brands {
 display: none;
}

.categories-nav .dropdown-menu .brands li img {
 vertical-align: middle;
}

.categories-nav > .nav .dropdown > a:focus {
 background: none;
}

.categories-nav > .nav .dropdown:hover > a ,
.categories-nav > .nav .dropdown > a:hover,
.categories-nav > .nav .open > a,
.categories-nav > .nav .open > a:hover,
.categories-nav > .nav .open > a:focus {
 background: linear-gradient(180deg, #b5b5b5, #dadada 30%, #fcfcfc);
}

.categories-nav > .nav .dropdown:hover .dropdown-menu {
 /*display: block;*/
}




.categories-nav .nav-justified > .dropdown .dropdown-menu.large {
 left: -173px;
 padding-right: 25px;
 padding-left: 32px;
}

.categories-nav .dropdown-menu.large .brands,
.categories-nav .dropdown-menu.large .section {
 float: left;
 width: 255px;
 padding-right: 25px;
 margin-right: 25px;
}

.categories-nav .dropdown-menu.large .section:after {
 content: "";
 position: absolute;
 top: 27px;
 bottom: 30px;
 width: 1px;
 margin-left: 255px;
 background: #d8d8d8;
}

.categories-nav .dropdown-menu.large .section.last,
.categories-nav .dropdown-menu.large .brands.last {
 margin-right: 0;
 padding-right: 0;
}

.categories-nav .dropdown-menu.large .section.last:after {
 display: none;
}


.calendar .dropdown-menu {
 width: 600px;
 text-align: center;
}

.calendar .dropdown-menu .ui-datepicker {
 margin: 0 auto;
}

body .ui-datepicker td > a,
body .ui-datepicker td > span {
 border: 1px solid transparent;
 text-align: center;
}

body .ui-datepicker td > span {
 color: #b5b5b5;
}

body .ui-datepicker td .ui-state-active {
 border-color: #cecece;
 font-weight: bold;
}

body .ui-datepicker td.active-date > span,
body .ui-datepicker td.active-date > a {
 font-weight: bold;
}




.right-nav {
 margin: 16px 0 15px;
 font-size: 13px;
 line-height: 16px;
}

.right-nav .nav-justified {
 border-collapse: collapse;
}

.right-nav .nav > li {
 width: 9.7%;
 margin: 0;
 border: 1px solid #dadada;
 background: #fff;
 vertical-align: top;
}

.right-nav .nav > li.programs,
.right-nav .nav > li.online-consultation,
.right-nav .nav > li.hot-line {
 width: 14%;
}

.right-nav .nav > li > a {
 display: block;
 height: 80px;
 padding: 8px 10px;
 border-radius: 0;
}

.right-nav .nav > li.hot-line > a,
.right-nav .nav > li > a:hover,
.right-nav .nav > li > a:active {
 background: #18ccd8;
 color: #ffffff;
}

.right-nav .image {
 display: block;
 width: 23px;
 height: 24px;
 margin: 0 auto 9px;
 background: url('/img/right-nav.png') no-repeat;
}

.right-nav .image {
 background-position: 0 0;
}
.right-nav li.articles .image {
 background-position: -23px 0;
}
.right-nav li.news-and-actions .image {
 background-position: -46px 0;
}
.right-nav li.news .image {
 background-position: -69px 0;
}
.right-nav li.reviews .image {
 background-position: -92px 0;
}
.right-nav li.video-goods .image {
 background-position: -115px 0;
}
.right-nav li.programs .image {
 margin-bottom: 7px;
 background-position: -138px 0;
}
.right-nav li.online-consultation .image {
 background-position: -161px 0;
}
.right-nav li.hot-line .image {
 background-position: -184px 0;
}


.right-nav a:focus .image,
.right-nav a:hover .image {
 background-position: 0 -24px;
}
.right-nav li.articles a:focus .image,
.right-nav li.articles a:hover .image {
 background-position: -23px -24px;
}
.right-nav li.news-and-actions a:focus .image,
.right-nav li.news-and-actions a:hover .image {
 background-position: -46px -24px;
}
.right-nav li.news a:focus .image,
.right-nav li.news a:hover .image {
 background-position: -69px -24px;
}
.right-nav li.reviews a:focus .image,
.right-nav li.reviews a:hover .image {
 background-position: -92px -24px;
}
.right-nav li.videos a:focus .image,
.right-nav li.videos a:hover .image {
 background-position: -115px -24px;
}
.right-nav li.programs a:focus .image,
.right-nav li.programs a:hover .image {
 background-position: -138px -24px;
}
.right-nav li.online-consultation a:focus .image,
.right-nav li.online-consultation a:hover .image {
 background-position: -161px -24px;
}
.right-nav li.hot-line a:focus .image,
.right-nav li.hot-line a:hover .image {
 background-position: -184px -24px;
}





.right-nav .caption-wrap {
 display: table;
 width: 100%;
}

.right-nav .caption {
 display: table-cell;
 height: 31px;
 vertical-align: middle;
}

.right-nav .tel {
 display: block;
 font-weight: bold;
}




.btn-register {
 position: relative;
 display: block !important;
 height: 129px !important;
 padding: 65px 20px 0 !important;
 background: #00abb6 !important;
 font: 34px/28px AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif !important;
 color: #dfdfdf !important;
 border-radius: 5px;
}

.btn-register:after {
 content: "";
 display: block;
 position: absolute;
 top: -46px;
 left: 6px;
 width: 135px;
 height: 102px;
 background: url('/img/btn-register.png') no-repeat;
}



.main-header .slider {
 position: relative;
 /*background: #eaeaea;*/
 margin: 17px 0 78px;
}

.main-header .slider:after {
 content: "";
 display: block;
 position: absolute;
 right: 0;
 bottom: -13px;
 left: 0;
 height: 14px;
 background: url('/img/slider-shadow.png') 50% 0 no-repeat;
}




.grey {
 padding: 56px 0;
 margin-bottom: 62px;
 background: #ebebeb;
}

.catalog-list {
 padding: 0;
 margin: 0;
 list-style: none;
}

.catalog-list .item {
 position: relative;
 height: 366px;
 padding: 0 15px 19px;
 margin-bottom: 8px;
 background: #fff;
 text-align: center;
 border-radius: 4px;
}

.catalog-list .item.with-full-prices {
	height: 405px;
	border: 1px solid #d9d9d9;
	cursor: pointer;
}

.catalog-list .item.with-full-prices.active,
.catalog-list .item.with-full-prices:hover {
	padding: 0 14px 17px;
	margin-top: -1px;
	margin-bottom: 9px;
	border-width: 2px;
	border-color: #00abb6;
}

.catalog-list .item.with-full-prices .prices {
	height: 102px;
}

.catalog-list .item .label-action {
 left: 0;
}

.catalog-list .item .h6,
.catalog-list .item h6 {
	display: table;
	width: 100%;
	margin-top: 0;
	margin-bottom: 11px;
    font-weight: normal;
}

.catalog-list .item .h6 > span,
.catalog-list .item h6 > span {
	display: table-cell;
	height: 54px;
	vertical-align: middle;
}

.catalog-list .item .h6.top,
.catalog-list .item h6.top {
 margin-top: -6px;
 margin-bottom: 16px;
}

.catalog-list .item .img {
 display: block;
 height: 170px;
 line-height: 170px;
 font-size: 1px;
}

.catalog-list .item .img img {
 vertical-align: middle;
}

.catalog-list .item .prices {
 height: 55px;
 margin: -3px 0 18px;
 padding: 8px 0 0;
 border-top: 1px solid #d5d5d5;
}

.catalog-list .item .prices > div {
 margin-bottom: 4px;
}

.good-prices strong,
.catalog-list .item .prices strong {
 margin-right: 2px;
 margin-left: 2px;
 font-size: 20px;
}

.catalog-list .item .prices .simple {
 margin-top: 12px;
}

.good-prices .old strong,
.catalog-item .good-info .prices .old strong,
.catalog-list .item .prices .old strong {
 position: relative;
 display: inline-block;
 font-size: 15px;
}

.good-prices .old strong:after,
.catalog-item .good-info .prices .old strong:after,
.catalog-list .item .prices .old strong:after {
 content: "";
 display: inline-block;
 position: absolute;
 right: -5px;
 left: -5px;
 height: 15px;
 background: url('/img/old-price.png') 50% 50% no-repeat;
}
.catalog-item .good-info .prices .old strong:after {
 display: none;
 left: -15px;
 right: -15px;
 height: 35px;
 background-image: url('/img/good-item-old-price.png');
}

.catalog-list .item.with-full-prices .prices .dl-horizontal {
	margin: 7px -5px;
}

.catalog-list .item.with-full-prices .prices .dl-horizontal dt, .catalog-list .item.with-full-prices .prices .dl-horizontal dd {
	margin-bottom: 2px;
}

.catalog-list .item.with-full-prices .prices .dl-horizontal dt {
	width: 121px;
	padding-left: 0;
	text-align: right;
	font-weight: normal;
}

.catalog-list .item.with-full-prices .prices .dl-horizontal dd {
	margin-left: 130px;
	text-align: left;
}

.catalog-list .item.with-full-prices .prices .dl-horizontal strong {
	margin: 0;
	font-size: inherit;
}
.catalog-list .item.with-full-prices .prices .dl-horizontal strong.discount {
	color: #e1980c;
}

.catalog-list .item .block-footer {
 margin: 0 -1px;
}

.catalog-list .item .item-btn {
 display: inline-block;
 width: 50%;
 padding: 0 1px;
}

.catalog-list .item .item-btn .btn-block {
 margin: 0;
}

.catalog-list .item .btn-block {
 margin-top: 3px;
}



.manual-blocks-list {
 margin-bottom: 52px;
}

.main-page .manual-blocks-list {
 margin-top: -17px;
 margin-bottom: 18px;
}

.manual-blocks-list .item {
 position: relative;
 margin-bottom: 10px;
 border-right: 1px solid #cecece;
 border-bottom: 1px solid #cecece;
}

.manual-blocks-list .item .text {
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 height: 144px;
 padding: 10px 24px;
 background: #fff;
 background: rgba(255, 255, 255, .85);
}

.manual-blocks-list .item h4,
.manual-blocks-list .item .h4 {
 line-height: 21px;
}



.catalog-filters {
 margin: 10px 0;
}

.catalog-filters h1,
.catalog-filters .h1 {
 margin-bottom: 15px;
 text-align: center;
 color: #00abb6;
 font-size: 50px;
}

.catalog-filters label {
 padding-top: 5px !important;
 padding-right: 100px !important;
 text-transform: uppercase;
 font-size: 13px;
 color: #6d6d6d;
}

.catalog-filters label .glyphicon {
 font-size: 10px;
}

.catalog-filters label:after {
 content: "";
 display: block;
 position: absolute;
 top: 5px;
 right: 70px;
 bottom: 0;
 width: 8px;
 background: url('/img/catalog-filter-arrows.png') 0 50% no-repeat;
}

.catalog-filters .nav-tabs {
 margin-bottom: 2px;
}

.catalog-filters .nav-tabs li {
 margin-bottom: 10px;
}

.catalog-filters > .row-5 +  .row-5 {
 margin-top: 28px !important;
}


.catalog-filters .filters-with-logo {
 position: relative;
}

.catalog-filters .filters-with-logo .item {
 display: block;
 height: 40px;
 line-height: 40;
 text-align: center;
 font-size: 1px;
}

.catalog-filters input[type="checkbox"] {
 display: none;
}

.catalog-filters .filters-with-logo .btn-primary {
 width: 43px;
 position: relative;
 text-indent: -9999px;
}
.catalog-filters .filters-with-logo .btn-primary:after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 50%;
 width: 13px;
 margin-left: -6px;
 background: url('/img/catalog-filter-arrows.png') -8px 50% no-repeat;
}
.catalog-filters .filters-with-logo .btn-primary:active:after,
.catalog-filters .filters-with-logo .btn-primary.active:after,
.catalog-filters .filters-with-logo .open > .dropdown-toggle.btn-primary:after {
 background-position: -21px 50%;
}

.catalog-filters .filters-with-logo .col-xs-2,
.catalog-filters .filters-with-logo .col-xs-4-5 {
 position: static;
}

.catalog-filters .filters-with-logo .dropdown-menu {
 right: 4px;
 left: 4px;
 top: 100%;
 margin-top: 5px;
}
.catalog-filters .filters-with-logo .dropdown-menu:after {
 content: "";
 position: absolute;
 top: -22px;
 right: 11px;
 width: 22px;
 height: 22px;
 border: 11px solid transparent;
 border-bottom-color: #ffffff;
}

.catalog-filters .filters-with-logo .all-filters-with-logo {
 padding: 13px 43px 35px 35px;
}

.catalog-filters .filters-with-logo .all-filters-with-logo .item {
 margin-top: 20px;
 margin-bottom: 20px;
}



.catalog .grey {
 padding: 37px 0;
 margin-bottom: 38px;
}

.catalog .catalog-list .item {
 height: 410px;
 margin-bottom: 9px;
}

.catalog .catalog-list .prices {
 margin-bottom: 24px;
}




.seo-text {
 margin-bottom: 20px;
 font-size: 12px;
}

.seo-text h1,
.seo-text .h1 {
 margin-bottom: 16px;
}

.seo-text h6,
.seo-text .h6 {
 margin: 0 0 3px;
 font-size: 12px;
}

.seo-text .content {
 line-height: 21px;
}

.seo-text .content p {
 margin-bottom: 9px;
}



.catalog-item {
 padding-top: 43px;
}

.catalog-item .photos {
 position: relative;
 /*margin: 42px 0;*/
}

.action-labels > a {
 text-decoration: none;
}

.catalog-list .item .action-labels,
.catalog-item .photos .action-labels {
 position: absolute;
 top: -28px;
 left: 0;
}

.catalog-list .item .action-labels {
 top: 0;
}

.catalog-list .item .action-labels > a,
.catalog-list .item .action-labels > a > span,
.catalog-item .photos .action-labels > a,
.catalog-item .photos .action-labels > a > span {
 display: block;
 position: relative;
 top: 0;
 
}

.catalog-list .item .action-labels > a,
.catalog-item .photos .action-labels > a {
 clear: both;
 float: left;
 margin-bottom: 20px;
}

.catalog-item .photos .main-photo {
 margin-bottom: 13px;
 text-align: center;
}

.catalog-item .photos .small-photos .item {
 display: block;
 height: 120px;
 border: 1px solid transparent;
 line-height: 120px;
 font-size: 1px;
 text-align: center;
}

.catalog-item .photos .small-photos .item.active {
 border-color: #06adb8;
}

.catalog-item .photos .small-photos .item img {
 vertical-align: middle;
 text-align: center;
}

.catalog-item .good-info .brand-logo {
    margin-bottom: 30px;
}

.catalog-item .good-info .subcaption,
.catalog-item .good-info .caption {
 line-height: 1;
 margin: 0 0 8px;
 font-family: Arial, Helvetica, Tahoma, sans-serif;
 font-size: 20px;
 color: #6d6d6d;
 text-transform: uppercase;
}

.catalog-item .good-info .subcaption {
 /*margin: 0;*/
 /*line-height: .8;*/
}

.catalog-item .good-info .buy-info {
 margin: 30px 0 27px;
 padding: 23px 0 18px;
 border-top: 1px solid #d9d9d9;
 border-bottom: 1px solid #d9d9d9;
}

.catalog-item .good-info .prices {
 margin-bottom: -23px;
 font-size: 19px;
}

.catalog-item .good-info .prices .price {
 margin-bottom: 2px;
}

.catalog-item .good-info .prices .price .price-wrapper {
 margin-right: -10px;
}

.catalog-item .good-info .prices strong {
 font: 80px/1 AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
 color: #00abb6;
}

.catalog-item .good-info .prices label {
 margin-top: 22px;
}

.catalog-item .good-info .prices .old {
 font-size: 15px;
}

.catalog-item .good-info .prices .old label {
 margin-top: 20px;
}

.catalog-item .good-info .prices .old strong {
 font-size: 50px;
 color: #1e1e1e;
}

.catalog-item .good-info .prices .simple {
 margin-bottom: 34px;
}

.catalog-item .good-info .prices .simple label {
 margin-top: 42px;
}


.catalog-item .good-info .in-stock {
 margin-top: 20px;
 font-size: 19px;
 line-height: 50px;
}


.catalog-item .good-info .dl-horizontal dt,
.catalog-item .good-info .dl-horizontal dd {
 margin-bottom: 14px;
 font-weight: normal;
}

.catalog-item .good-info .dl-horizontal dt {
 width: 160px;
}

.catalog-item .good-info .dl-horizontal dd {
 margin-left: 167px;
 padding-right: 40px;
}



.catalog-item .catalog-filters h4,
.catalog-item .catalog-filters .h4 {
 margin-bottom: 38px;
}

.catalog-item .catalog-filters label {
 position: relative;
 padding-top: 0 !important;
 padding-right: 45px !important;
 margin-top: -5px;
 color: #1e1e1e;
}

.catalog-item .catalog-filters label:after {
 right: 20px;
}

.catalog-item .catalog-filters .filters-with-logo {
 margin-bottom: 30px;
}

.catalog-item .catalog-filters .filters-with-logo [class*="col-"] {
 position: static;
}



.table-comparison .img > a {
 display: block;
 max-width: 64px;
 margin: 0 auto;
}

.table-comparison .bool {
 font-size: 19px;
}

.table-comparison .buttons {
 padding-right: 12px !important;
 padding-left: 12px;
}

.table-comparison .delete {
 width: 40px;
 padding-right: 0;
 border-right: none !important;
}

.table-comparison .delete a {
 display: block;
 width: 17px;
 height: 17px;
 margin: 0 auto;
 background: url('/img/btn-sprite.png') -70px 0 no-repeat;
 text-indent: -9999px;
}


.catalog-item .table-comparison {
 margin-bottom: 42px;
}


.popup-message,
.catalog-list-comparison {
 display: none;
 position: absolute;
 right: 0;
 left: 0;
 padding: 38px 0;
 background: #fff;
 box-shadow: 0 -5px 50px rgba(45, 38, 18, .3);
 z-index: 100;
}

.catalog-list-comparison {
 min-height: 200px;
}

.catalog-list-comparison .container {
 position: relative;
}

.popup-message .close,
.catalog-list-comparison .close {
 display: block;
 position: absolute;
 right: 9px;
 top: -1px;
 width: 29px;
 height: 29px;
 background: url('/img/btn-sprite.png') -87px 0 no-repeat;
 opacity: 1;
}

.catalog-list-comparison .table-comparison > thead > tr > th {
 padding: 7px 5px;
}

.catalog-list-comparison .table-comparison > tbody > tr > td {
 min-height: 119px;
}

.catalog-list-comparison .caption {
 border-left: none !important;
}

.popup-message-container {
 position: relative;
}

.popup-message {
 padding-right: 10px;
 padding-left: 10px;
 text-align: center;
 z-index: 200;
}

.popup-message .message {
 margin-bottom: 49px;
}

.popup-message .close {
 right: 20px;
 top: 20px;
}

.program-icons {
 margin: -4px 0 10px;
}

.program-icons .row > * {
 display: inline-block;
 float: none;
 vertical-align: top;
}

.program-icons .row a {
 display: block;
 margin-bottom: 10px;
}



.video-reviews {
 padding: 10px 21px;
 margin-top: -4px;
 margin-bottom: 3px;
 background: #ebebeb;
 line-height: 1.4667;
}

.video-reviews * {
 font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

.video-reviews .item {
 margin-bottom: 20px;
}

.video-reviews h4,
.video-reviews .h4 {
 margin: 15px -5px 24px;
 text-align: center;
}

.video-reviews .img {
 margin-bottom: 30px;
 text-align: center;
}

.video-reviews .block-footer {
 margin-top: 22px;
 text-align: right;
}


.catalog-info-nav {
 margin-right: -3px;
}

.catalog-info-nav .nav-pills {
 display: table !important;
}

.catalog-info-nav .nav-pills > li {
 display: table-cell !important;
 width: 33%;
 padding-right: 3px;
 text-align: center;
}


.catalog-info-nav .nav-pills > li > a {
 padding: 14px 0;
 background: #ebebeb;
 border-radius: 0;
}

.catalog-info-nav .img {
 display: block;
 height: 50px;
 margin-bottom: 9px;
 background: url('/img/catalog-info-nav.png') 50% 0 no-repeat;
}
.catalog-info-nav .ship .img {
 background-position: 50% -50px;
}
.catalog-info-nav .service .img {
 background-position: 50% -100px;
}



.catalog-item .good-tabs {
 margin-top: 33px;
}

.catalog-item .good-tabs .grey {
 padding-top: 34px;
 margin-bottom: 52px;
}

.catalog-item .good-tabs .content {
 padding-left: 8px;
 margin-bottom: 45px;
 line-height: 22px;
 /*text-align: right;*/
}

.catalog-item .good-tabs .content .h4,
.catalog-item .good-tabs .content h4 {
 margin-bottom: 22px;
}

.catalog-item .good-tabs .content p {
 margin-top: 10px;
}


.catalog-item .technologies {
 margin-bottom: 23px;
}

.catalog-item .technologies .item {
 display: block;
 margin-bottom: 19px;
 text-decoration: none;
 text-align: center;
 line-height: 21px;
}

.catalog-item .technologies .item .img {
 display: block;
 height: 80px;
 line-height: 80px;
 text-align: center;
 font-size: 1px;
}

.catalog-item .technologies .item .img img {
 vertical-align: middle;
}

.catalog-item .technologies .item .caption {
 display: block;
 margin-top: 5px;
}

.catalog-item .technologies > .row > * {
 display: inline-block;
 float: none;
 vertical-align: top;
}


.catalog-item .files {
 margin-top: 16px;
}

.catalog-item .files .btn-block + .btn-block {
 margin-top: 7px;
}




.content {
 
}


.content a {
 text-decoration: underline;
}

.content .btn {
 text-decoration: none;
}

.content ul {
 padding-top: 12px;
 padding-left: 0;
 list-style-type: none;
}

.content li {
 /*padding-left: 26px;*/
}

.content ul li:before {
 content: "";
 display: inline-block;
 width: 6px;
 height: 5px;
 background: url('/img/li.png') no-repeat;
 vertical-align: middle;
 margin: 0 20px 3px 0;
}

.content .left-image {
 float: left;
 margin: 0 20px 20px 0;
}

.content .right-image {
 float: right;
 margin: 0 0 20px 20px;
}

.content .center-image {
 display: block;
 margin: 20px auto;
}

.content p {
 margin-bottom: 22px;
}

.content p + h4,
.content p + .h4 {
 margin-top: -7px;
 margin-bottom: 17px;
}

.content .content-footer {
 margin-top: 37px;
}




.table-cart {
 margin-bottom: 10px;
 border-bottom: none !important;
}

.table-cart > thead > tr > th, .table-cart > tbody > tr > th, .table-cart > tfoot > tr > th, .table-cart > thead > tr > td, .table-cart > tbody > tr > td, .table-cart > tfoot > tr > td {
 border-right: none !important;
 border-left: none !important;
 vertical-align: middle;
}

.table-cart > thead > tr > td, .table-cart > tbody > tr > td, .table-cart > tfoot > tr > td {
 padding: 12px 5px 14px;
}

.table-cart .image {
 width: 15.2%;
 text-align: center;
}

.table-cart .caption {
 font-size: 19px;
 line-height: 1.158;
}

.table-cart .count {
 width: 16.2%;
}

.table-cart .price {
 width: 10%;
}

.table-cart .operations {
 width: 11.5%;
 text-align: right;
}

.table-cart .input-group-lg {
 width: 95px;
}

.table-cart .input-group-lg > .form-control {
 padding-right: 5px;
 padding-left: 5px;
}

.table-cart .input-group-btn > .btn {
 position: relative;
 width: 30px;
 padding-right: 0;
 padding-left: 0;
 text-indent: -9999px;
}

.table-cart .caption .code {
 margin-top: 4px;
 font-size: 13px;
}

.table-cart .price span {
 margin-right: 3px;
 font-size: 19px;
}

.table-cart .count .btn:after,
.table-cart .operations .btn:after {
 content: "";
 position: absolute;
 display: inline-block;
 top: 50%;
 left: 50%;
 width: 10px;
 height: 10px;
 margin-top: -5px;
 margin-left: -5px;
 background: url('/img/cart-sprite.png') no-repeat;
}

.table-cart .count .btn.less:after {
 background-position: -10px 0;
}

.table-cart .operations a {
 text-decoration: none !important;
}

.table-cart .operations .btn {
 position: relative;
 width: 32px;
 margin-right: 13px;
 text-indent: -9999px;
}

.table-cart .operations .btn:after {
 background-position: -20px 0;
}


.cart {
 margin-bottom: 78px;
}

.cart .output {
 text-align: right;
 margin-bottom: 12px;
 font-size: 19px;
 color: #1e1e1e;
}

.cart .output span {
 margin: 0 10px;
 font: 80px AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
 color: #00abb6;
}


.cart .block-footer {
 text-align: right;
}


.move-to-cart-photo {
 position: absolute;
 z-index: 300;
}



.register-social {
 margin-bottom: 15px;
}

.register-social #uLogin > div {
	display: block !important;
	width: auto !important;
	height: auto !important;
}

.register-social [data-uloginbutton] {
	float: none !important;
 	display: inline-block !important;
	margin: 0 2px 5px 0 !important;
	position: relative !important;
	width: 60px !important;
	height: 56px !important;
	background: #3b5999 !important;
	border-radius: 4px !important;
	text-indent: -9999px !important;	
}

.register-social [data-uloginbutton="facebook"] {
 background-color: #496c94 !important;
}
.register-social [data-uloginbutton="odnoklassniki"] {
 background-color: #ff7707 !important;
}
.register-social [data-uloginbutton="googleplus"] {
 background-color: #d95232 !important;;
}
.register-social [data-uloginbutton="twitter"] {
 background-color: #00aced !important;;
}
.register-social [data-uloginbutton="instagram"] {
 background-color: #386994 !important;;
}


.register-social [data-uloginbutton]:after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 50%;
 width: 25px;
 margin-left: -12px;
 background: url('/img/social-lg.png') 0 50% no-repeat;
}
.register-social [data-uloginbutton="facebook"]:after {
 background-position: -25px 50%;
}
.register-social [data-uloginbutton="googleplus"]:after {
 background-position: -50px 50%;
}
.register-social [data-uloginbutton="odnoklassniki"]:after {
 background-position: -75px 50%;
}
.register-social [data-uloginbutton="twitter"]:after {
 background-position: -100px 50%;
}
.register-social [data-uloginbutton="instagram"]:after {
 background-position: -125px 50%;
}



.register-social .or {
 clear: both;
 padding-top: 9px;
 text-align: center;
}


.order {
 padding-top: 7px;
}

.order .block-header .control-label {
 padding-top: 16px;
}

.order .calendar-show {
 position: absolute;
 top: 50%;
 right: 22px;
 margin-top: -10px;
}

.order .select-receiver {
 padding-top: 2px;
 margin-bottom: 3px;
}

.order textarea.form-control {
 height: 183px;
 resize: none;
}

.order .form-footer {
 padding-top: 24px;
}

.order .other-receiver {
 display: none;
}

.order .data-ship-describe {
	display: none;
	padding: 10px;
	margin: 2px 0;
	border: 1px solid #dadada;
	border-radius: 5px;
}

.order .data-ship-describe .content p:last-child {
	margin-bottom: 0;
}

.order [data-discount-info] {
	display: none;
}

.auth-href-block {
 margin-bottom: 30px;
}

.auth-header {
 margin-top: 20px;
 line-height: 42px;
}


.owl-carousel .owl-item {
 padding-right: 5px;
 padding-left: 5px;
}

.owl-theme .owl-controls {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 margin: 0;
}

.owl-theme .owl-controls .owl-buttons div {
 position: absolute;
 display: block;
 top: 0;
 height: 339px;
 left: -50px;
 width: 21px;
 margin: 0;
 background: #ebebeb url('/img/slider-arrows.png') 0 50% no-repeat;
 border-radius: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
 left: auto;
 right: -50px;
 background-position: -21px 50%;
}






.reviews-list {
 margin-bottom: 59px;
}

.reviews-list .item {
 padding: 7px 0 20px;
 margin-bottom: 14px;
 border-bottom: 1px solid #d9d9d9;
}

.reviews-list .item:last-of-type {
 padding-bottom: 0;
 margin-bottom: 16px;
 border-bottom: none;
}

.reviews-list .item .fio,
.reviews-list .item .date {
 display: inline-block;
}

.reviews-list .item .date {
 margin-left: 21px;
}

.date {
 position: relative;
 padding-left: 26px;
 color: #b5b5b5;
 font-size: 13px;
 white-space: nowrap;
}
.date:before {
 content: "";
 position: absolute;
 display: block;
 width: 14px;
 height: 14px;
 top: 0;
 left: 0;
 background: url('/img/main-sprite.png') no-repeat;
}

.reviews-list .item .h6 {
 font-weight: bold;
 margin: 0 0 3px;
}

.reviews-list .item .item-footer {
 padding-top: 20px;
 margin-top: 17px;
 border-top: 1px solid #d9d9d9;
}

.reviews-list .item .item-footer .fio {
 margin-bottom: 16px;
}


.review-add {
 padding: 17px 30px 14px;
 margin-top: 27px;
 background: #ebebeb;
}

.review-add .avatar {
 width: 57px;
 height: 57px;
}

.review-add .fio,
.review-add .h1,
.review-add h1 {
 margin: 0;
}

.review-add .h1,
.review-add h1 {
 color: #00abb6;
}

.review-add .fio {
 margin-bottom: 5px;
}

.review-add .block-header {
 margin-bottom: 4px;
}

.review-add textarea {
 height: 155px;
}

.review-add .block-footer {
 margin-top: 25px;
}

.review-add .block-footer h2,
.review-add .block-footer .h2 {
 display: inline-block;
 margin: 0;
 font-size: 34px;
}

.review-add .block-footer .rating {
 display: inline-block;
 margin-top: 2px;
 margin-left: 15px;
}

.review-add .block-footer .submit-block {
 margin-top: -6px;
 text-align: right;
}

.review-add .register-block {
 text-align: right;
 color: #555555;
 font-weight: bold;
}

.review-add .register-block .message {
 margin-right: 11px;
}


.review-add.unregistered {
 padding-top: 25px;
}

.review-add.unregistered .h1,
.review-add.unregistered h1 {
 margin-top: 2px;
 color: #1e1e1e;
}

.review-add.unregistered .block-header {
 margin-bottom: 19px;
}



.catalog-item .reviews-list {
 margin-bottom: 0;
}

.catalog-item .reviews-list .pagination-nav {
 margin-bottom: 38px;
}

.catalog-item .reviews-list > .block-header,
.grey .pagination > li:not(.active) > a,
.grey .pagination > li:not(.active) > span {
 position: relative;
 background: none;
}

.catalog-item .reviews-list > .block-header:after,
.grey .pagination > li:not(.active) > a:after {
 content: "";
 position: absolute;
 right: 0;
 bottom: -2px;
 left: 0;
 height: 1px;
 background: #fff;
}



.catalog-item .reviews-list > .block-header {
 padding-bottom: 27px;
 margin-top: -5px;
 margin-bottom: 8px;
 border-bottom: 1px solid #cccccc;
}

.catalog-item .reviews-list .block-header label {
 margin-right: 10px;
}

.catalog-item .reviews-list .item time {
 padding-left: 0;
 background: none;
}

.catalog-item .reviews-list .item .date-caption {
 display: none;
}

.catalog-item .reviews-list .item .date {
 margin-left: 35px;
}

.catalog-item .reviews-list .item .date:before {
 left: -18px;
}

.catalog-item .reviews-list .item .avatar img {
 width: 60px;
}

.catalog-item .reviews-list .item .rating {
 margin-top: -3px;
 margin-bottom: 10px;
}

.catalog-item .reviews-list .item .rating .star {
 width: 22px;
 height: 22px;
 background-position: 0 -55px;
}
.catalog-item .reviews-list .item .rating .star.active {
 background-position: 0 -77px;
}

.catalog-item .reviews-list .item .content {
 padding: 0;
 margin: 0;
 line-height: 18px;
}

.catalog-item .reviews-list .item .content p {
 margin-top: 0;
}

.catalog-item .reviews-list .item .item-footer {
 margin-top: 24px;
 padding-top: 14px;
}

.catalog-item .reviews-list .item .item-footer .reply-caption {
 margin-top: 0;
}




.contacts {
 padding-top: 29px;
}

.contacts h1,
.contacts .h1 {
 margin: 19px 0 0;
 line-height: 36px;
}

.contacts h1.tel,
.contacts .h1.tel {
 margin: 5px 0 19px;
 font-size: 50px;
 color: #00abb6;
}

.contacts .note {
 margin-top: 15px;
}

.contacts dl {
 margin-top: 13px;
}

.contacts dt,
.contacts dd {
 padding-left: 38px;
 position: relative;
}

.contacts dt:after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 20px;
 height: 21px;
 background: url('/img/main-sprite.png') 0 -119px no-repeat;
}

.contacts dt.address-icon:after {
 background-position: 0 -140px;
}

.contacts dt.email-icon:after {
 top: 5px;
 background-position: 0 -161px;
}

.contacts dt.no-icon:after {
 display: none;
}

.contacts .dl-horizontal dd {
 padding-left: 0;
}

.contacts .map {
 margin: 60px 0 49px;
}

.contacts .map h1,
.contacts .map .h1 {
 margin-bottom: 23px;
}

.contacts .row {
 position: relative;
}

.contacts *[class^="col"] {
 position: static;
}

.contacts .schedule:before,
.contacts .address:before {
 content: "";
 display: block;
 position: absolute;
 top: 18px;
 bottom: 34px;
 width: 1px;
 margin-left: -10px;
 background: #d9d9d9;
}




.news-list .item {
 padding-bottom: 25px;
 margin: 16px 0 25px;
 border-bottom: 1px solid #d9d9d9;
}

.news-list .item:last-of-type {
 margin-bottom: 18px;
 border-bottom: none;
}

.news-list .item .image {
 text-align: center;
}

.news-list .pagination-nav {
 margin-top: 0;
}

.news-list .pagination-nav .pagination {
 margin-top: 0;
}



.news-item .page-header {
 margin-bottom: 12px;
}




.catalog-links {
 margin-bottom: 61px;
}

.catalog-links .section {
 margin-bottom: 25px;
}

.catalog-links .section > h1,
.catalog-links .section > .h1 {
 margin-bottom: 15px;
 color: #00abb6;
}

.catalog-links .items {
 border-top: 1px solid #d8d8d8;
 border-left: 1px solid #d8d8d8;
}

.catalog-links .items > .row {
 margin: 0;
}

.catalog-links .item {
 height: 120px;
 padding: 5px 15px;
 border-bottom: 1px solid #d8d8d8;
 border-right: 1px solid #d8d8d8;
 overflow: hidden;
}

.catalog-links .item .image {
 height: 88px;
 line-height: 88px;
 text-align: center;
}

.catalog-links .item .image img {
 vertical-align: middle;
}

.catalog-links .item h6,
.catalog-links .item .h6 {
 height: 36px;
 margin-bottom: 12px;
}




.other-news .row > * {
 display: inline-block;
 vertical-align: top;
 float: none;
}

.other-news .grey {
 padding: 29px 0 17px;
 margin-bottom: 53px;
}

.other-news .page-header {
 margin: 0 0 30px;
}

.other-news .item {
 margin-bottom: 40px;
}

.other-news .item h1,
.other-news .item .h1 {
 margin-bottom: 11px;
}

.other-news .item .text {
 margin-bottom: 18px;
}

.other-news .item .date {
 display: block;
 margin-bottom: 24px;
}


.brands-list {
 padding: 25px 0;
 overflow: hidden;
}

.brands-list > .row {
 margin-right: -30px;
 margin-left: -30px;
}

.brands-list > .row > * {
 padding-right: 30px;
 padding-left: 30px;
}

.brands-list .item {
 position: relative;
 padding-bottom: 174px;
 margin-bottom: 40px;
 color: #4b4b4b;
 font-weight: bold;
}


.brands-list .item:before,
.brands-list .item:after {
 content: "";
 position: absolute;
 display: block;
 top: 0;
 right: -30px;
 bottom: 2px;
 width: 1px;
 background: #d9d9d9;
}

.brands-list .item:before {
 top: auto;
 right: 0;
 left: 0;
 width: auto;
 bottom: -20px;
 height: 1px;
 z-index: 100;
}

.brands-list .item.without-border:after {
 display: none;
}

.brands-list .item .image {
 height: 156px;
 line-height: 156px;
 text-align: center;
}

.brands-list .item .image img {
 vertical-align: middle;
}

.brands-list .item .logo {
 height: 78px;
 margin-bottom: 9px;
 line-height: 78px;
}

.brands-list .item .logo img {
 vertical-align: middle;
}

.country {
 padding-left: 26px;
 padding-bottom: 1px;
 background-position: 0 0;
 background-repeat: no-repeat;
}

.country.no-flag {
 padding-left: 0;
}

.brands-list .item .category-caption {
 margin: 11px 0 7px;
 font-weight: bold;
}

.brands-list .item ul {
 padding-left: 0;
 list-style-type: none;
 font-weight: normal;
}

.brands-list .item li {
 position: relative;
 padding-left: 17px;
 margin-bottom: 7px;
}

.brands-list .item li:after {
 content: "";
 position: absolute;
 left: 0;
 top: 7px;
 width: 4px;
 height: 4px;
 background: url('/img/main-sprite.png') 0 -182px no-repeat;
}

.brands-list .item li a {
 color: #4b4b4b;
 text-decoration: underline;
}

.brands-list .item li a:hover,
.brands-list .item li a:focus {
 text-decoration: none;
}

.brands-list .item .item-footer {
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
}

.brands-list .item .btn-block + .btn-block{
 margin-top: 4px;
}




.brands-item .block-header {
 margin: 26px 0 29px;
}

.brands-item .images {
 padding-top: 3px;
 text-align: center;
}

.brands-item .image,
.brands-item .logo {
 margin-bottom: 27px;
}

.brands-item .text {
 
}

.brands-item .country {
 margin-bottom: 17px;
 font-weight: bold;
}

.brands-item .block-footer {
 padding-top: 3px;
}



.brands-technologies .block-header {
 margin-top: 29px;
}

.brands-technologies .catalog-filters .filters-with-logo {
 margin-bottom: 24px;
}

.brands-technologies .catalog-filters .filters-with-logo .item {
 margin-bottom: 15px;
}

.brands-technologies .grey {
 padding: 30px 0 28px;
 margin-bottom: 27px;
}

.brands-technologies .page-header {
 margin-bottom: 12px;
}

.brands-technologies .page-header .normal {
 font-size: 50px;
}

.brands-technologies .page-header h1,
.brands-technologies .page-header .h1 {
 margin: 0;
}

.technologies-list .item {
 position: relative;
 padding-bottom: 121px;
 margin-bottom: 20px;
 text-align: center;
}

.technologies-list .item .image {
 height: 96px;
 margin-bottom: 18px;
 line-height: 96px;
}

.technologies-list .item .image img {
 vertical-align: middle;
}

.technologies-list .item h6,
.technologies-list .item .h6 {
 line-height: 22px;
}

.technologies-list .item .item-footer {
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
}

.technologies-list .item .btn {
 box-shadow: none;
 white-space: normal;
}

.technologies-list .item .btn-block + .btn-block {
 margin-top: 5px;
}

.brands-technologies .goods .page-header {
 margin-bottom: 7px;
}

.brands-technologies .goods .grey {
 padding: 54px 0 57px;
 margin-bottom: 48px;
}

.brands-technologies .goods .catalog-list {
 text-align: center;
}

.brands-technologies .goods .catalog-list > * {
 display: inline-block;
 float: none;
}



.news-and-actions-list .form-large {
 padding-bottom: 6px;
}

.news-and-actions-list .page-header {
 margin-bottom: 11px;
}

.news-and-actions-list.start {
 margin-bottom: 41px;
}

.news-and-actions-list.start .page-header {
 margin-bottom: 18px;
}

.news-and-actions-list .item {
 position: relative;
 height: 534px;
 padding: 19px 18px 10px;
 margin-bottom: 7px;
 border: 1px solid #cecece;
 border-radius: 4px;
 text-align: center;
 line-height: 22px;
 cursor: pointer;
}

.news-and-actions-list .item.item-small {
 height: 263px;
}

.news-and-actions-list .item-small + .item-small {
 margin-top: 8px;
}

.news-and-actions-item .dates,
.news-and-actions-list .item .dates {
 margin-bottom: 22px;
 font-weight: bold;
 color: #dc2526;
}

.news-and-actions-list .item .image {
 height: 300px;
 line-height: 300px;
}

.news-and-actions-list .item .image image {
 vertical-align: middle;
}

.news-and-actions-list .item h6,
.news-and-actions-list .item .h6 {
 padding: 0 30px;
 margin: 8px 0 14px;
 line-height: 22px;
}

.news-and-actions-list .item .image-footer {
 padding-top: 8px;
 border-top: 1px solid #d5d5d5;
}



.news-and-actions-list .item.item-small .image {
 height: 170px;
 margin-top: 66px;
 margin-right: -20px;
 margin-left: -10px;
 line-height: 170px;
}

.news-and-actions-list .item.item-small .dates {
 margin: 0 -20px 11px;
}

.news-and-actions-list .item.item-small h6,
.news-and-actions-list .item.item-small .h6 {
 padding: 0;
 margin-bottom: 15px;
 line-height: 18px;
}

.news-and-actions-list .item.item-small .image-footer {
 padding-top: 11px;
 margin-left: 13px;
}


.news-and-actions-list .item.item-new {
 padding-top: 63px;
}

.catalog-list .item > .label-image,
.news-and-actions-list .item.item-new .label-image {
 position: absolute;
 top: 4px;
 left: 5px;
}

.news-and-actions-list .item.item-new .image {
 margin-right: -15px;
 margin-left: -15px;
 margin-bottom: 5px;
}

.news-and-actions-list .item.item-new h6,
.news-and-actions-list .item.item-new .h6 {
 padding: 0;
 margin: 8px -10px 21px;
 line-height: 19px;
}


.profile {
	padding-top: 24px;
	margin-bottom: 54px;
}

.profile .profile-header {
}

.profile h1,
.profile .h1 {
	text-align: center;
}

.profile .page-header h1,
.profile .page-header .h1 {
	margin: 7px 0 0;
	font-size: 65px;
	text-align: left;
}

.profile .page-header + .describe {
	margin-top: -18px;
}

.profile .bonuses-summary {
	text-align: right;
}

.profile .bonuses-summary .bonuses {
	padding-right: 5px;
	text-align: right;
	font: 80px/1 AttenticaUltraLight, Arial, Helvetica, sans-serif;
}

.profile .bonuses-summary .ico {
	width: 45px;
	height: 51px;
	margin: 7px auto 0;
	background: url('/img/main-sprite.png') 0 -208px no-repeat;
}

.profile .profile-simple-nav {
	margin-bottom: 20px;
}

.profile .client-info {
	
}

.profile .client-info table td {
	text-align: left;
}

.profile .client-info table th {
	padding: 6px 10px;
	text-align: right;
}


.profile .profile-nav {
	margin-top: 12px;
	margin-bottom: 48px;
	font-size: 19px;
}

.profile .profile-nav li {
	width: 33.3%;
	padding: 15px 10px 7px;
	border: 1px solid #d8d8d8;
	border-bottom: none;
	border-left: none;
	vertical-align: top;
}

.profile .profile-nav li:last-of-type {
	border-right: none;
}

.profile .profile-nav li > a {
	display: block;
	border-radius: 0;
}

.profile .profile-nav li > a:hover,
.profile .profile-nav li > a:focus {
	background: none;
}

.profile .profile-nav img,
.profile .profile-nav .img {
	display: block;
	width: auto;
	height: 127px;
	margin: 0 auto;
}

.profile .profile-nav img {
	margin-top: 24px;
}

.profile .profile-nav .img {
	height: 73px;
	margin: 27px 0 29px;
	background: url('/img/profile-sprite.png') 50% 0 no-repeat;
}

.profile .profile-nav .goods .img {
	background-position: 50% -73px;
}


.profile .sold-goods .grey {
	padding: 28px 0;
	margin-bottom: 23px;
}

.profile .sold-goods h1,
.profile .sold-goods .h1 {
	margin-bottom: 13px;
}

.profile .sold-goods .table td {
	padding-top: 14px;
	padding-bottom: 16px;
}

.profile .sold-goods .table p {
	margin-bottom: 0;
	text-align: left;
}

.profile .sold-goods .block-footer {
	margin: 37px 0 13px;
	text-align: center;
}

.profile .sold-goods .table .negative {
	color: #d00;
}

.profile .sold-goods .table .positive {
	color: #0a0;
}

.profile .transaction-form {
	margin-top: 50px;
}




.profile .format-code * {
	position: static;
}

.profile .format-code .container {
	position: relative;
}

.profile .format-code .main-row {
	position: relative;
	margin-top: 52px;
	margin-bottom: 22px;
}

.profile .format-code .main-row:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	left: 10px;
	height: 1px;
	background: #d8d8d8;
}

.profile .format-code .column {
	
}
.profile .format-code .column.column-left {
	padding-left: 0;
}
.profile .format-code .column.column-right {
	padding-right: 0;
}

.profile .format-code .column.disabled .disabled-wrapper {
	content: "";
	position: absolute;
	display: block;
	top: -40px;
	bottom: 0;
	background: #fff;
	background: rgba(255, 255, 255, .5);
	/*background: red;*/
	z-index: 200;
}

.profile .format-code .column:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 30px;
	width: 1px;
	margin-left: -10px;
	background: #d8d8d8;
}

.profile .format-code .main-row > *:first-child .column:after {
	display: none;
}

.profile .format-code .column > .label {
	position: relative;
	display: block;
	margin: -30px auto 37px;
	z-index: 100;
}

.profile .format-code .column > .label:before,
.profile .format-code .column > .label:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	width: 10px;
	background: #fff;
}

.profile .format-code .column > .label:after {
	left: auto;
	right: -10px;
}

.profile .format-code .column h1,
.profile .format-code .column .h2 {
	margin: 15px 0;
}

.profile .format-code .filters {
	width: 100%;
	margin-bottom: 30px;
	line-height: 20px;
}

.profile .format-code .filters td {
	position: relative;
	width: 45%;
	padding: 10px 5px 10px 53px;
	border: 1px solid #d8d8d8;
	border-left-color: transparent;
	border-right-color: transparent;
}


.profile .format-code .filters.without-images td {
	padding-left: 5px;
}

.profile .format-code .filters td.active,
.profile .format-code .filters td:hover {
	border-color: #00abb6;
	cursor: pointer;
}

.profile .format-code .filters td.active:before,
.profile .format-code .filters td:not(.separator):hover:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	top: -1px;
	right: 0;
	left: 0;
	background: #00abb6;
}

.profile .format-code .filters .separator {
	width: 10%;
	padding: 0;
	border: none;
}

.profile .format-code .filters td:hover a,
.profile .format-code .filters td.active a {
	color: #00abb6;
	text-decoration: none;
}

.profile .format-code .filters a .img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 44px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.profile .format-code .filters.brands td {
	padding-left: 20px;
	height: 55px;
}

.profile .format-code .filters.brands td img {
	width: auto;
	height: 30px;
}

.profile .format-code .btn-block + .btn-block {
	margin-top: 6px;
}

.profile .format-code .form [class^="col-"] {
	position: relative;
}

.profile .format-code .code-form-group {
	margin-bottom: 20px;
	color: #e1980c;
	font-size: 19px;
}

.profile .format-code .code-form-group .form-control {
	border-color: #e1980c;
	background: none;
	box-shadow: none;
	color: #e1980c;
	font-size: 19px;
}

.profile .format-code .calendar-show {
	position: absolute;
	top: 10px;
	right: 20px;
}


.profile .format-code .checkbox {
	margin-top: 13px;
}

.profile .format-code .checkbox + .checkbox {
	margin-top: 8px;
}




.profile .goods-list .grey {
	padding: 48px 0 46px;
	margin-bottom: 52px;
}




.good-discount-card {
	position: relative;
	padding: 43px 40px 40px;
	background: url('/img/good-discount-card-background.png') repeat;
}

.good-discount-card.used:after {
	content: "USED!";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #aaaaaa;
	background: rgba(255, 255, 255, .7);
	z-index: 200;
	font: 240px/3 AttenticaUltraLight, Arial, Helvetica, Tahoma, sans-serif;
	text-align: center;
	color: #c00;
	text-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.good-discount-card-inner {
	position: relative;
	padding: 18px 15px 39px;
	min-height: 400px;
	z-index: 100;
}


.good-discount-card:before,
.good-discount-card-inner:before,
.good-discount-card-inner:after {
	content: "";
	display: block;
	position: absolute;
}

.good-discount-card:before {
	top: 43px;
	right: 40px;
	left: 40px;
	bottom: 333px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.good-discount-card-inner:before {
	right: 340px;
	left: 0;
	bottom: 0;
	height: 293px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	z-index: -1;
}

.good-discount-card-inner:after {
	right: -44px;
	bottom: -42px;
	width: 384px;
	height: 335px;
	background: url('/img/good-discount-card-corner.png') 100% 100% no-repeat;
	z-index: -1;
}

.good-discount-card .block-header {
	margin-bottom: 28px;
	text-align: center;
}

.good-discount-card .block-header h1,
.good-discount-card .block-header .h1 {
	margin-bottom: 8px;
}

.good-discount-card .block-header h4,
.good-discount-card .block-header .h4 {
	margin-top: 0;
}

.good-discount-card .discount-info {
	padding: 0 35px;
	margin-bottom: 29px;
}

.good-discount-card .discount-info .dl-horizontal {
	position: relative;
	margin: 0;
}

.good-discount-card .discount-info .dl-horizontal:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 241px;
	width: 1px;
	background: #d5d5d5;
}

.good-discount-card .discount-info .dl-horizontal dt,
.good-discount-card .discount-info .dl-horizontal dd {
	margin-bottom: 0;
	line-height: 22px;
}

.good-discount-card .discount-info .dl-horizontal dt {
	position: relative;
	width: 220px;
	text-align: right;
	overflow: visible;
	white-space: normal;
}

.good-discount-card .discount-info .dl-horizontal dd {
	margin-left: 268px;
}

.good-discount-card .discount-info a {
	color: #00abb6;
}

.good-discount-card .catalog-item {
	padding-top: 0;
}

.good-discount-card .catalog-item .label-action {
	position: relative;
	margin-left: 34px;
	margin-bottom: 46px;
}

.good-discount-card .catalog-item .main-photo {
	margin-bottom: 8px;
}

.good-discount-card .catalog-item .technologies {
	margin-bottom: 0;
}

.good-discount-card  .catalog-item .technologies .row {
    display: block;
}

.good-discount-card .catalog-item .technologies .item .img {
	height: 56px;
	line-height: 56px;
}

.good-discount-card .catalog-item .technologies .item .img img {
	max-width: 100px;
    max-height: 56px;
}

.good-discount-card  .catalog-item .technologies .item .caption {
	margin-top: 10px;
    line-height: 1.2;
}

.good-discount-card .good-info {
	padding-top: 3px;
}

.good-discount-card .good-info h1,
.good-discount-card .good-info .h1 {
	margin-bottom: 20px;
}

.good-discount-card .good-info .discount-prices {
	margin-bottom: 28px;
	text-align: center;
	font-size: 19px;
}
.good-discount-card .good-info .discount-prices .price {
	padding: 10px 15px 6px 0;
	margin-right: -15px;
	border: 1px solid #d9d9d9;
}

.good-discount-card .good-info .discount-prices .price.new-price {
	position: relative;
	padding: 11px 0 7px 10px;
	margin-right: 0;
	margin-left: -10px;
	border: none;
	background: #00abb6;
	color: #ffffff;
	border-radius: 5px;
}

.good-discount-card .good-info .discount-prices .price.new-price strong {
	color: #ffffff;
}

.good-discount-card .good-info .discount-prices strong {
	margin: 0 5px;
	font: normal 50px/1 AttenticaUltraLight, Arial, Helvetica, sans-serif;
	color: #00abb6;
}


.good-discount-card .good-info .content {
	line-height: 1.4667;
}

.good-discount-card .good-info .content h4,
.good-discount-card .good-info .content .h4 {
	margin-bottom: 19px;
}

.good-discount-card .good-info .content ul {
	padding-top: 1px;
	margin-left: -3px;
}




.good-discount-card .goods-list h1,
.good-discount-card .goods-list .h1 {
	margin-bottom: 27px;
}



.register .block-header {
	margin-top: 7px;
}

.auth .block-header label,
.register .block-header label {
	margin-top: 12px;
}

.register .form-group {
	margin-bottom: 4px;
}

.register .qq-upload-list {
 display: none;
}

.register .avatar-block {
 float: left;
 text-align: center;
}

.register .avatar-block .qq-upload-button {
 margin: 5px auto;
}

.register .block-footer {
	padding-top: 12px;
}

.register .block-footer .note {
	margin-bottom: 40px;
}

.register .block-footer h1,
.register .block-footer .h1 {
	margin-bottom: 4px;
}

.register .form-horizontal .radio,
.register .form-horizontal .checkbox,
.register .form-horizontal .radio-inline,
.register .form-horizontal .checkbox-inline {
	padding-top: 13px;
}

.register .buttons {
	margin-top: 42px;
}

.register input[type="submit"] {
	display: none;
}



.videos-page {
	margin: 29px 0;
}

.videos-page .nav-tabs {
	margin-bottom: 10px;
}

.videos-page .grey {
	padding: 10px 0 7px;
	margin-bottom: 44px;
}

.videos-page .form-large {
	margin-bottom: 10px;
}

.videos-page .form-large label {
	margin-right: 19px;
}

.videos-page .form-large .btn-group .btn {
	width: 184px;
	text-align: left;
}

.videos-page .form-large .sm .btn {
	width: 85px;
}

.videos-page .form-large .btn .caret {
	float: right;
	margin: 10px -3px 0 10px;
}

.videos-page .form-inline .form-group + .form-group {
	margin-left: 31px;
}

.videos-page .form-large .header-links {
	margin-left: -10px;
	text-align: right;
}

.videos-page .form-large .header-links .btn {
	padding-right: 14px;
	padding-left: 14px;
}


.videos-page .page-header h1,
.videos-page .page-header .h1 {
	margin-top: 0;
}

.videos-page .block-header + .items-list .page-header {
	margin-top: -7px;
	margin-bottom: 17px;
}

.videos-page .video-text-page {
	padding: 15px 0;
}





.videos-page .items-list {
	
}

.videos-page .items-list .column {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.videos-page .items-list .item {
	margin-bottom: 34px;
}

.videos-page .items-list .item .img {
	display: block;
	text-align: center;
}

.videos-page .items-list.goods-list .item .item-footer .row {
	margin-right: -2px;
	margin-left: -2px;
}

.videos-page .items-list.goods-list .item .item-footer .row > * {
	padding-right: 2px;
	padding-left: 2px;
}

.videos-page .items-list.goods-list .item .caption {
	margin: 17px 0 24px;
	font-size: 15px;
	font-weight: bold;
    text-align: left;
}

.videos-page .items-list.goods-list .item {
	margin-bottom: 45px;
}

.videos-page .brand-categories {
	margin-bottom: 32px;
}

.videos-page .items-list + .brand-categories {
	margin-top: -3px;
}

.videos-page .brand-categories h4,
.videos-page .brand-categories .h4 {
	margin-bottom: 16px;
}

.videos-page .brand-categories .btn {
	height: 42px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 5px;
	line-height: 35px;
}


.videos-page .items-list.simple-videos-list {
	margin-bottom: 15px;
}

.videos-page .items-list.simple-videos-list .caption {
	margin-top: 15px;
	text-align: center;
	line-height: 18px;
}

.videos-page .block-footer {
	margin-bottom: 43px;
}

.videos-page .items-list.simple-videos-list + .block-footer {
	margin-top: -7px;
}

.text-page {
 margin-bottom: 40px;
}



.page-services .map {
 margin-top: 35px;
}

.page-services .map-wrapper {
 position: relative;
 margin-top: -30px;
 margin-right: -18px;
}

.page-services .map-wrapper path {
 stroke: none;
}

.page-services .map-wrapper .region path {
 fill: #dfe0e0;
}

.page-services .map-wrapper .city circle {
 fill: #e3000f;
}

.page-services .map-wrapper .city {
 cursor: pointer;
}

.page-services .map-wrapper .city text {
 fill: black;
}

.page-services .map-wrapper .city:hover text {
 fill: #e3000f;
}

.page-services .map-wrapper .services {
 position: absolute;
 width: 41px;
 height: 26px;
 background: url('/img/service-n-office.png') no-repeat 0 0;
 margin-top: -32px;
 margin-left: -20px;
 cursor: pointer;
}

.page-services .map-wrapper .services.no-office {
 width: 20px;
 background-position-x: -82px;
 margin-left: -10px;
}

.page-services .map-wrapper .services.left {
 background-position-x: -41px;
 margin-left: -32px;
}

.page-services .map-wrapper .services.right {
 background-position-x: -82px;
 margin-left: -9px;
}

.page-services .map-wrapper .region path.selected {
 fill: #cacacb !important;
}

.page-services .description .contacts {
 padding-top: 0;
}

.page-services .description .service {
 padding-left: 40px;
 margin-bottom: 40px;
}

.page-services .description .contacts .contact {
 display: block;
 margin-top: 5px;
}

.page-services .description .contacts .address {
 margin-left: 0;
}

.page-services .description .contacts .address:before {
 display: none;
}

.page-services .description .contacts .icon {
 position: relative;
 font-weight: bold;
}

.page-services .description .contacts .icon:before {
 content: "";
 display: block;
 position: absolute;
 left: -40px;
 top: 0;
 width: 22px;
 height: 25px;
 background: url('/img/main-sprite.png') -23px 0 no-repeat;
}
.page-services .description .contacts .contact.tel .icon:before {
 background-position: -23px -38px;
}

.page-services .description .contacts .contact.map .icon:before {
 display: none;
}











.main-footer {
 margin-top: 36px;
 padding-top: 25px;
 background: #ebebeb;
}

.main-footer .register-li {
 vertical-align: top;
 text-align: left;
 padding-right: 10px !important;
 overflow: visible !important;
}

.main-footer .register-li .btn-register {
 margin-top: -2px;
}

.main-footer .categories-nav .nav > li > a {
 height: 125px;
 margin-bottom: 20px;
}

.main-footer .categories-nav .dropdown-menu {
 position: static;
 display: block !important;
 padding: 0 !important;
 background: none;
 box-shadow: none;
 font-size: 12px;
}

.main-footer .categories-nav .dropdown-menu .brands-section,
.main-footer .categories-nav .dropdown-menu .section {
 float: none;
 width: auto;
 padding: 0 22px;
 margin: 0;
 font-size: 12px;
}

.main-footer .categories-nav .dropdown-menu .section:before,
.main-footer .categories-nav .dropdown-menu.large .section:after {
 display: none;
}

.main-footer .categories-nav .h1 {
 display: none;
 margin: 0;
 font: bold 12px/19px Arial, Helvetica, Tahoma, sans-serif;
}

.main-footer .categories-nav .dropdown-menu {
 min-height: 0 !important;
 margin-top: 0 !important;
 margin-bottom: 28px;
 line-height: 19px;
 background: none !important;
}

.main-footer .categories-nav .dropdown-menu .subnav-ul {
 margin-top: 2px;
}

.main-footer .categories-nav .dropdown-menu.large .section {
 display: none;
}
.main-footer .categories-nav .dropdown-menu.large .section:first-child {
 display: block;
}

.main-footer .categories-nav .dropdown-menu.large .h1 {
 display: block;
}

.main-footer .categories-nav .dropdown-menu ul {
 border: none;
}

.main-footer .categories-nav .dropdown-menu li {
 position: relative;
 padding-left: 12px;
 padding-bottom: 1px;
 border: none; 
}

.main-footer .categories-nav .dropdown-menu li:before {
 content: "▪";
 position: absolute;
 left: 0;
}



.main-footer .categories-nav .dropdown-menu a {
 padding: 0 !important;
 font-size: 12px;
 border: none;
}

.main-footer .categories-nav .dropdown-menu .small-img {
 display: none;
}

.main-footer .categories-nav .dropdown-menu .brands-section .brands {
 display: none;
}

.main-footer .categories-nav .dropdown-menu .brands-section .footer-brands {
 display: block;
 font-size: 12px;
}

.main-footer .categories-nav .dropdown-menu .brands-section .footer-brands {
 
}

.main-footer .categories-nav .dropdown-menu .brands-section .footer-brands li:before {
 font-size: 10px;
}



.main-footer .bottom {
 padding-top: 6px;
 position: relative;
}

.main-footer .bottom:before {
 content: "";
 position: absolute;
 display: block;
 top: 0;
 right: 0;
 left: 0;
 height: 14px;
 background: url('/img/block-shadow.png') 50% 0 no-repeat;
}

.main-footer .bottom .copy {
 float: left;
 width: 145px;
 margin: 14px 20px 0 5px;
}

.main-footer .bottom small {
 display: block;
 margin-top: 6px;
 font-size: 10px;
 color: #6d6d6d;
}


.main-footer .social-nav {
 margin-top: 5px;
 margin-right: -10px;
}

.main-footer .seo {
    padding: 10px 0 18px 4px;
    color: #6d6d6d;
}

.social-nav {
 
}

.social-nav ul {
 padding: 0;
 margin: 0;
}

.social-nav li {
 float: left;
 margin-right: 2px;
 margin-bottom: 2px;
}

.social-nav a {
 position: relative;
 display: block;
 width: 48px;
 height: 45px;
 border-radius: 3px;
 text-indent: -9999px;
 background: #3b5999;
 outline: none;
}

.social-nav a:hover:before,
.social-nav a:focus:before {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 box-shadow: inset 0 0 15px rgba(0, 0, 0, .3);
}

.social-nav a:after {
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 15px;
 width: 20px;
 background: url('/img/social-nav.png') 0 50% no-repeat;
}
.social-nav .fb a {
 background-color: #496c94;
}
.social-nav .od a {
 background-color: #ff7707;
}
.social-nav .gp a {
 background-color: #d95232;
}
.social-nav .in a {
 background-color: #386994;
}
.social-nav .tw a {
 background-color: #00aced;
}
.social-nav .fb a:after {
 background-position: -20px 50%;
}
.social-nav .od a:after {
 background-position: -40px 50%;
}
.social-nav .gp a:after {
 background-position: -60px 50%;
}
.social-nav .in a:after {
 background-position: -80px 50%;
}
.social-nav .tw a:after {
 background-position: -100px 50%;
}

