{* Smarty *}
<li><a href="{$category.url|url}?filter_brands[]={$brand.static}">{if $brand.image}<img src="/admin/image.php?file=project_images/{$brand.image}&amp;width=75&amp;height=29" alt="{$brand.caption|escape}">{/if}</a></li>