body {font-family: Arial; font-size: 80%; color: #727272;}

.group:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

table {font-size: 100%; text-align: center;}
.table1 {border-bottom: solid #d2d2d2 1px; border-right: solid #d2d2d2 1px; text-align: center; font-weight: bold; color: black;}
.table1 th {text-align: center; background-color: #b9b9b9; color: white; padding-top: 6px; padding-bottom: 6px; border-top: solid #d2d2d2 1px; border-left:solid #d2d2d2 1px;}
.table1 td {padding: 2px; border-top: solid #d2d2d2 1px; border-left: solid #d2d2d2 1px;} 

.even_tr {background-color: #f0f0f0;}

.table2 {border-bottom: solid #d3d3d3 1px; border-right: solid #d3d3d3 1px; color: #6c6c6c; width: 95%;}
.table2 td {text-align: left; border-top: solid #d3d3d3 1px; border-left: solid #d3d3d3 1px; padding: 2px 2px 2px 5px; font-weight: normal;}
.table2 th {text-align: center; background-color: #b9b9b9; color: white; font-weight: bold; padding: 6px 4px 6px 4px; border-top: solid #d2d2d2 1px; border-left:solid #d2d2d2 1px;}
.table2 textarea {color: #6c6c6c; width:95%; height:100px; border: solid #9b9b9b 1px;}
.table2 a:hover {color: #6c6c6c; text-decoration: none;}
.table2 a {color: #6c6c6c; text-decoration: underline;}
.table2 #chacker {border: none; margin: 0px; background: none;}

.logos td {color: #FFFFFF; background-color: #585858;}
.logos th {background-color: #585858;}


  .menu_table {border-right: solid #d2d2d2 1px; border-bottom: solid #d2d2d2 1px; text-align: center;}
  .menu_table th {padding: 8px 8px 8px 8px; font-size: 12px; background-color: #edebec; color: #716f70; border-left: solid #d2d2d2 1px;  border-top: solid #d2d2d2 1px;}
  .menu_table td {text-align: left; padding: 3px 0px 3px 15px; font-size: 12px; border-left: solid #d2d2d2 1px;  border-top: solid #d2d2d2 1px;}
  a {color:#6c6c6c; text-decoration: none;}
  a:hover {text-decoration: underline;}
  
   .article_caption {font-weight: bold;}
   .article_text {font-style:italic; margin-left:10px;}
   
  
  
  #unselected_td {font-weight: normal; color: #7e7e7e;}
  #selected_td {font-weight: bold; color: black; background-color: #f2f2f2; border-bottom: double #d2d2d2 1px;}
  
  #selected_td a {color: black;}
  #unselected_td a {color: #919191;}
  
  .mceEdvanced {width:95%;}


input, select {border: solid #9b9b9b 1px; color: #6c6c6c;}
.check {border: 0}

.chacker {border-width: 0px;}

#button_div {width: 80%; text-align: right; padding-bottom: 10px;}
img {border: none;}

.stat_link a {color: black;}
.stat_link a:hover {color: red;}

.sh_button {color: #5e5e5e; font-weight: bold; background-color: #cfcfcf; border-left: outset #888888 1px; border-top: outset #888888 1px; border-right: outset #888888 2px; border-bottom: outset #888888 2px; padding: 2px 8px 2px 8px;}

.no_bord {border: none; margin-bottom: 8px;}
.no_bord td {border: none;}



.table2 .results_block {margin:20px 0px 0px 0px; padding:0px; font-weight:bold; text-decoration:underline;}
.table2 .results_block p {padding:0px; text-indent:0px;}
.table2 .results_question {padding:0px 0px 0px 10px;}
.table2 .results_question p {text-indent:0px;}
.table2 .results_answer {padding:0px 0px 0px 20px; margin:0px 0px 5px 0px;}

.menu_tree {
 width:95%;
 text-align: left;
}

.menu_tree ul {
 padding: 0 0 5px 0;
 margin: 0;
 list-style-type: none;
}

.menu_tree ul ul {
 padding-left: 40px;
}

.menu_tree li {
 margin: 0;
 line-height: 22px;
}

.menu_tree li.base-level > span {
 font-weight: bold;
}
.menu_tree li span.ext-module {
 text-decoration: underline;
}
.menu_tree li span.hidden {
 font-style: italic;
}

.menu_tree img {
 margin-left:3px;
 vertical-align:middle;
}

.menu_tree a {
 display:none;
}

.menu_tree li:hover {
 background-color:#f0f0f0
}

.menu_tree li:hover > a {
 display:inline;
}


 
.mceEdvanced, select {width:95%;}

.lang_selector {width: 80%; text-align: left; margin-bottom:10px;}
.lang_selector td {color:#0000aa; border: solid black 1px; cursor: default; cursor:pointer;}
.lang_selector td.active {background: #eeeeee; border: solid black 1px; cursor:default;}

.pages {margin:10px 0; width:95%;}
.pages a {margin:0 2px; color:#888;}
.pages a.current {font-weight:bold; text-decoration:none;}

.user_moduls {margin-top:20px;}
.user_moduls .part {font-weight:bold; margin-top:10px;}
.user_moduls ul, ul.checkboxes {padding:0; margin:0 0 10px 0; list-style-type:none;}
.user_moduls ul li, ul.checkboxes li {padding:0; margin:0; float:left; width:50%;}

.delivery_images {width:95%; padding:0px; margin:0px; list-style-type:none;}
.delivery_images li {padding:10px; margin:0px; height:120px; text-align:center; float:left;}

.type-head {
 width: 95%;
}

.type-head input[type="text"] {
 width: 100%;
}

.type-head li input[type="text"] {
 width: 150px;
 margin-left: 5px;
}

.type-header-dropdown,
.email-search-results {
 width: 600px;
 height: 200px;
 margin-bottom: 10px;
 overflow-y: scroll;
 background: #edebec;
 text-align: center;
}

.type-header-dropdown {
 width: auto;
}

.type-header-dropdown a,
.email-search-results a {
 text-decoration: none;
}

.type-header-dropdown a:hover,
.email-search-results a:hover {
 text-decoration: underline;
}


.qq-upload-list li {
 text-align: left;
}


.content-images-block {
 width: 95%;
 padding: 10px 0;
 margin: 15px auto;
 border: 1px solid #d3d3d3;
}

.content-images-block p {
 padding: 0;
 margin: 0;
 font-weight: bold;
}

.content-images {
 width:95%;
 padding:0;
 margin:0;
 list-style-type:none;
}

.content-images li {
 padding:10px;
 margin:0;
 height:120px;
 text-align:center;
 float:left;
}

.top-form {
 width: 95%;
 margin-bottom: 10px;
 text-align: left;
}

.top-form select {
 display: block;
 width: 100%;
 margin: 5px 0 0;
}

.html-block-iframe {
 width: 100%;
 height: 150px;
 margin-top: 20px;
 border: none;
}

.html-constructions {
 width: 95%;
 margin: 0 auto;
 text-align: left;
}

.html-constructions ul {

}


.auth-table {
 margin: 0 auto;
}

.auth-table form {
 text-align: center;
}

.main-header {
 padding: 8px 32px 3px;
 margin: -8px -8px 15px;
 background: #b9b9b9;
}

.main-header-start {
 padding: 28px 20px 25px;
 text-align: center;
}

.ul-unstyled {
 list-style-type: none;
}