{* Smarty *}
<section class="register-social">
 <script src="//ulogin.ru/js/ulogin.js"></script>
 <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,email;optional=phone,photo_big,city;providers={","|implode:$appHelper->get_global('register_social')};hidden=;redirect_uri={$url_maker->d_module_url('profile')|url:'':1}"></div>
 <footer class="or">{$words->register_social_auth_footer('или')}</footer>
</section>