{* Smarty *}
<div class="container">
 <div class="text-page">
 {$controller->caption|print_caption}
 {$controller->text|put_content}
 {if $controller->contacts}
  {*{include file="forms/contacts.tpl"}*}
 {/if}
 </div>
</div>

{include file="best-sellers-and-last-goods-list.tpl"}

{include file="manual-blocks-list.tpl"}